/* /////////////////////////////////////////////////////

FONT DECLARATIONS

///////////////////////////////////////////////////// */

/* 
  Body Content
*/

.body-content
  font-size 15px
  line-height 24px
  letter-spacing 0.11px
  
  &--large 
    font-size 18px
    line-height 28px
    letter-spacing 0.1px

.list-content
  font-size 14px
  line-height 30px
  letter-spacing 0.5px
  
.form-content
  font-family body-font
  font-size 18px
  line-height 21px
  letter-spacing 1.29px
  
  &--small 
    font-size 14px
    line-height 16px
    letter-spacing 0.78px


/* 
  Headings
*/

.large-heading
  font-size 36px
  line-height 43px
  letter-spacing 0.45px

.medium-heading
  font-size 24px
  line-height 28px
  letter-spacing 0.38px

.small-heading
  font-size 18px
  line-height 30px
  letter-spacing 1px
  

  

.font-blue
  color blue
  &--light
    color blue-light 
  &--lightest 
    color blue-lightest 
  &--dark
    color blue-dark 
  
.font-red
  color red
  &--light
    color red-light 
  &--lightest 
    color red-lightest 
  &--dark
    color red-dark 

.font-yellow
  color yellow
  &--light
    color yellow-light 
  &--lightest 
    color yellow-lightest 
  &--dark
    color yellow-dark 
    
.font-green
  color green
  &--light
    color green-light 
  &--lightest 
    color green-lightest 
  &--dark
    color green-dark 
  