/* /////////////////////////////////////////////////////

GLOBAL LAYOUT

///////////////////////////////////////////////////// */

.container
  height 100%
  
  #app
    height 100%
    
    .home-view, .app-view
      height 100%
      

.content
  position relative
  display block
  width 1200px
  height 100%
  margin 0 auto 50px
  background transparent no-repeat top left
  
  
      
  