/* /////////////////////////////////////////////////////

CenturyLink Cloud Styles
Author: matt@wintr.us

///////////////////////////////////////////////////// */


/* Variables
--------------------------------------------- */


// Colors
base-color = black

//Reds
red = rgba(227,105,69,1.0)
red-dark = rgba(217,82,41,1.0)
red-light = rgba(231,145,103,1.0)
red-lightest = rgba(250,219,198,1.0)

yellow = rgba(249,198,34,1.0)
yellow-dark = rgba(240,169,42,1.0)
yellow-light = rgba(248,200,121,1.0)
yellow-lightest = rgba(254,236,185,1.0)

green = rgba(151,198,91,1.0)
green-dark = rgba(62,151,64,1.0)
green-light = rgba(182,209,168,1.0)
green-lightest = rgba(228,238,204,1.0)

blue = rgba(133,141,170,1.0)
blue-dark = rgba(80,90,127,1.0)
blue-light = rgba(186,188,203,1.0)
blue-lightest = rgba(225,227,232,1.0)


grey = #A7A7A7

blue-border = blue-dark


// Fonts
body-font = 'Droid Serif', serif
body-font-color = rgba(79,79,79,1.0)


// Margin & Padding
fix-mqs ?= false

// Breakpoints
tablet = 400px
desktop = 800px
wide-desktop = 1200px

global-padding-top-botton = 15px
global-padding-left-right = 40px

global-top-space = 200px
global-top-space--reduced = 130px

padding-left-right = global-padding-left-right

step-sidebar-width = 400px


heightBreak = 860px
heightBreakSmall = 760px


/* Imports
--------------------------------------------- */
@import "jeet"
@import 'jqueryui'
@import "_reset"
@import "_utils"
@import "_fonts"
@import "_base"
@import "_layout"
@import "modules/*"
@import "pages/*"