/* /////////////////////////////////////////////////////

CenturyLink Cloud Styles
Author: matt@wintr.us

///////////////////////////////////////////////////// */
/* Variables
--------------------------------------------- */
/* Imports
--------------------------------------------- */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ul,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.body-content,
p,
li {
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.11px;
}
.body-content--large,
p--large,
li--large,
p.large,
li.large {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.1px;
}
.list-content {
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.5px;
}
.form-content,
h2,
.custom-input--text label,
.custom-input--text input,
.custom-input--text .input-editable,
.custom-input--percent input,
.step-nav__button {
  font-family: 'Droid Serif', serif;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 1.29px;
}
.form-content--small,
h2--small,
.custom-input--text label--small,
.custom-input--text input--small,
.custom-input--text .input-editable--small,
.custom-input--percent input--small,
.step-nav__button--small {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.78px;
}
.large-heading,
h3 {
  font-size: 36px;
  line-height: 43px;
  letter-spacing: 0.45px;
}
.medium-heading,
h4 {
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.38px;
}
.small-heading,
h5 {
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 1px;
}
.font-blue {
  color: #858daa;
}
.font-blue--light {
  color: #babccb;
}
.font-blue--lightest {
  color: #e1e3e8;
}
.font-blue--dark {
  color: #505a7f;
}
.font-red {
  color: #e36945;
}
.font-red--light {
  color: #e79167;
}
.font-red--lightest {
  color: #fadbc6;
}
.font-red--dark {
  color: #d95229;
}
.font-yellow {
  color: #f9c622;
}
.font-yellow--light {
  color: #f8c879;
}
.font-yellow--lightest {
  color: #feecb9;
}
.font-yellow--dark {
  color: #f0a92a;
}
.font-green {
  color: #97c65b;
}
.font-green--light {
  color: #b6d1a8;
}
.font-green--lightest {
  color: #e4eecc;
}
.font-green--dark {
  color: #3e9740;
}
.input-deco,
.custom-input--text,
.custom-input--percent .input-container,
.custom-input-dates .custom-select {
  position: relative;
}
.input-deco:before,
.custom-input--text:before,
.custom-input--percent .input-container:before,
.custom-input-dates .custom-select:before {
  content: '';
  display: block;
  width: 5px;
  height: 3px;
  border-left: 1px solid #505a7f;
  border-bottom: 1px solid #505a7f;
  position: absolute;
  bottom: -1px;
  left: -5px;
}
.input-deco:after,
.custom-input--text:after,
.custom-input--percent .input-container:after,
.custom-input-dates .custom-select:after {
  content: '';
  display: block;
  width: 5px;
  height: 3px;
  border-right: 1px solid #505a7f;
  border-bottom: 1px solid #505a7f;
  position: absolute;
  bottom: -1px;
  right: -5px;
}
.no-mobile {
  display: none;
  display: block;
}
.mobile-only {
  display: block;
  display: none;
}
* {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}
html {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  height: 100%;
}
body {
  font-family: 'Droid Serif', serif;
  width: 100%;
  height: 100%;
  color: #4f4f4f;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}
p {
  margin: 5px auto;
  color: #4f4f4f;
}
p:first-child {
  margin-top: 0;
}
p:last-child {
  margin-bottom: 0;
}
li {
  margin-left: 20px;
  margin-bottom: 0.5em;
}
li:first-child {
  margin-top: 0;
}
li:last-child {
  margin-bottom: 0;
}
ul {
  list-style: disc;
  margin-left: global-margin;
}
a {
  color: #fff;
  text-decoration: none;
}
strong,
em {
  font-style: italic;
}
.container {
  width: 100%;
  height: 100%;
}
.container #app {
  width: 100%;
  height: 100%;
}
.container #app .home-view,
.container #app .app-view {
  width: 100%;
  height: 100%;
}
.content {
  position: relative;
  display: block;
  width: auto;
  height: 100%;
  margin: 0;
  background: transparent no-repeat top left;
}
.button {
  -webkit-transition: all 0.13s;
          transition: all 0.13s;
  position: relative;
  display: inline-block;
  background: #505a7f;
  width: 100%;
  height: 50px;
  line-height: 50px;
  color: #fff;
  font-family: 'Droid Serif', serif;
  border-radius: 3px;
}
.button#publish {
  float: right;
  max-width: 160px;
}
.button:hover,
.button:active {
  background-color: #5e6b9a;
  text-decoration: underline;
}
.button:inactive,
.button .inactive {
  background-color: #636c8e;
  color: #a6abbf;
}
.custom-input--checkbox.disabled {
  color: rgba(255,255,255,0.5);
}
.custom-input--text {
  display: block;
  position: relative;
  border-bottom: 1px solid #505a7f;
  width: 100%;
  height: 60px;
  margin: 10px auto;
  padding: 0;
}
.custom-input--text .custom-input--text__inner {
  position: relative;
  width: 100%;
  height: 100%;
  padding-left: 45px;
  padding-right: 45px;
}
.custom-input--text label {
  -webkit-transition: top 0.1s ease-out;
          transition: top 0.1s ease-out;
  display: block;
  width: 100%;
  height: 30px;
  font-size: 16px;
  line-height: 30px;
  position: absolute;
  top: 28px;
  left: 0;
  padding: 0 5px;
}
.custom-input--text input,
.custom-input--text .input-editable {
  position: relative;
  width: 100%;
  background: transparent;
  color: #4f4f4f;
  margin-top: 30px;
  height: 30px;
  border: none;
  outline: none;
  letter-spacing: 1px;
  line-height: 30px;
  padding: 0 5px;
}
.custom-input-wrapper.open .custom-input--text label {
  top: 0px;
}
.custom-input--percent {
  position: relative;
  display: block;
  width: 100%;
  min-height: 65px;
  color: #fff;
  border-bottom: 1px solid rgba(78,88,127,0.2);
  font-size: 18px;
  padding: 20px 70px 20px 45px;
}
.custom-input--percent:before {
  content: '';
  display: block;
  width: 22px;
  height: 22px;
  position: absolute;
  top: 20px;
  right: 43px;
  background: transparent url("/images/percent.svg") no-repeat center center;
}
.custom-input--percent .input-container {
  padding: 0 5px;
  border-bottom: 2px solid #505a7f;
  width: 35px;
  float: right;
  display: inline-block;
}
.custom-input--percent .input-container:before {
  border-left: 2px solid #505a7f;
  border-bottom: 2px solid #505a7f;
  bottom: -2px;
  left: -5px;
}
.custom-input--percent .input-container:after {
  border-right: 2px solid #505a7f;
  border-bottom: 2px solid #505a7f;
  bottom: -2px;
}
.custom-input--percent input {
  position: relative;
  background: transparent;
  color: #fff;
  width: 26px;
  display: inline-block;
  border: none;
  outline: none;
  text-align: center;
}
.custom-input--percent label {
  line-height: 22px;
}
.custom-input--edit {
  position: relative;
  display: block;
  width: 100%;
  min-height: 65px;
  color: #fff;
  border-bottom: 1px solid rgba(78,88,127,0.2);
  font-size: 18px;
  padding: 20px 70px 20px 45px;
}
.custom-input--edit .edit-button {
  content: '';
  display: block;
  width: 22px;
  height: 22px;
  position: absolute;
  top: 20px;
  right: 43px;
  background: transparent;
}
.custom-input--edit label {
  line-height: 22px;
}
.custom-input--checkbox {
  position: relative;
  display: table;
  width: 100%;
  min-height: 65px;
  color: #fff;
  border-bottom: 1px solid rgba(78,88,127,0.2);
  font-size: 18px;
  padding: 20px 70px 20px 45px;
}
.custom-input--checkbox label {
  display: table-cell;
  vertical-align: middle;
  line-height: 1.2;
}
.custom-input--checkbox input {
  display: none;
  cursor: pointer;
}
.custom-input--checkbox .check-button {
  -webkit-transition: 0.1s background-color;
          transition: 0.1s background-color;
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -8px;
  right: 45px;
  width: 18px;
  height: 18px;
  border: 2px solid #fff;
  background-color: transparent;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  cursor: pointer;
}
.custom-input--checkbox .radio-button {
  -webkit-transition: 0.1s background-color;
          transition: 0.1s background-color;
  display: block;
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  right: 45px;
  margin-top: -8px;
  background-color: transparent;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  cursor: pointer;
  border: 2px solid #fff;
  border-radius: 18px;
}
.custom-input--radio {
  position: relative;
  display: table;
  width: 100%;
  min-height: 65px;
  color: #fff;
  font-size: 18px;
  padding: 20px 70px 20px 45px;
  line-height: 1;
}
.custom-input--radio .radio-button {
  -webkit-transition: 0.1s background-color;
          transition: 0.1s background-color;
  display: block;
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  right: 45px;
  margin-top: -8px;
  background-color: transparent;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  cursor: pointer;
  border: 2px solid #fff;
  border-radius: 18px;
}
.custom-input--radio input {
  display: none;
  cursor: pointer;
}
.custom-input--radio label {
  display: table-cell;
  vertical-align: middle;
  cursor: pointer;
  line-height: 1.2;
}
.custom-input--radio.custom-input--radio-group {
  position: relative;
  display: inline-block;
  width: 74px;
  border: none;
  padding: 0;
  text-align: center;
}
.custom-input--radio.custom-input--radio-group label {
  line-height: 65px;
}
.custom-input--radio.custom-input--radio-group .radio-button {
  margin-top: -8px;
  right: auto;
  left: 25px;
}
.custom-input-radio-inner__header {
  padding: 0 45px;
}
.custom-input-radio-inner .custom-input--radio {
  border-bottom: 1px solid rgba(78,88,127,0.2);
}
.custom-input-radio-inner .custom-input--radio:last-child {
  border-bottom: 1px solid rgba(78,88,127,0.2);
}
.custom-input-radio-inner--group {
  height: auto;
  text-align: center;
  padding: 0 45px;
  white-space: nowrap;
  border-top: none;
}
.custom-input-radio-inner--group .custom-input--radio {
  border: none;
}
.custom-input-radio-inner--group .custom-input--radio:last-child {
  border: none;
}
.custom-input-wrapper {
  position: relative;
  width: auto;
  height: auto;
}
.custom-input-wrapper.checked .custom-input--checkbox .check-button {
  background-color: #fff;
}
.custom-input-wrapper .custom-input--radio.checked .radio-button {
  background-color: #fff;
}
.custom-input-wrapper .custom-input--checkbox.checked .check-button {
  background-color: #fff;
}
.custom-input-wrapper .custom-input--radiobox.checked .radio-button {
  background-color: #fff;
}
.custom-input-wrapper.has-info {
  cursor: pointer;
}
.custom-input-wrapper.has-info * {
  cursor: pointer;
}
.custom-input-wrapper.has-info:before {
  -webkit-transition: background-position-x 0.1s;
          transition: background-position-x 0.1s;
  content: '';
  position: absolute;
  top: 0;
  left: 100%;
  display: block;
  width: 25px;
  height: 100%;
  background: transparent url("/images/tooltip-arrow--right.svg") no-repeat center left;
  background-size: auto 100%;
  z-index: 10;
  background-position-x: -25px;
}
.custom-input-wrapper.has-info.selected {
  overflow-x: visible;
}
.custom-input-wrapper.has-info.selected .custom-input--checkbox {
  background: #697294;
  border-color: rgba(78,88,127,0);
}
.custom-input-wrapper.has-info.selected:before {
  background-position-x: -1px;
}
.custom-input-dates {
  position: relative;
  width: 100%;
  height: 45px;
  margin: 60px auto;
}
.custom-input-dates__inner {
  display: inline-block;
  width: auto;
  height: 45px;
}
.custom-input-dates__inner.from {
  float: left;
  text-align: left;
}
.custom-input-dates__inner.to {
  float: right;
  text-align: right;
}
.custom-input-dates span.dates-to {
  font-size: 18px;
  display: inline-block;
  vertical-align: bottom;
  position: absolute;
  width: 35px;
  height: 100%;
  line-height: 45px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -15px;
  text-align: center;
}
.custom-input-dates .custom-select {
  display: inline-block;
  width: 52px;
  height: 40px;
  background: transparent url("/images/arrow--dropdown.svg") no-repeat right;
  border-bottom: 1px solid #505a7f;
  margin: 0 5px;
}
.custom-input-dates .custom-select select {
  background: transparent;
  width: 52px;
  font-size: 18px;
  line-height: 40px;
  border: none;
  border-radius: 0;
  height: 40px;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  color: #505a7f;
  text-align: center;
  cursor: pointer;
  padding-left: 8px;
}
.custom-input-dates .custom-select--year {
  width: 72px;
}
.custom-input-dates .custom-select--year select {
  width: 72px;
  padding-left: 6px;
}
textarea {
  border-color: #c9c9c9;
}
.main-logo {
  width: 60px;
  height: 60px;
  background: transparent url("/images/wiki-logo.png") no-repeat center center;
  background-size: 100% auto;
  overflow: hidden;
  text-indent: -9999px;
}
.input-info {
  position: relative;
  dispaly: block;
}
.input-info-block {
  *zoom: 1;
  width: 100%;
  position: relative;
  margin-bottom: 25px;
}
.input-info-block:before,
.input-info-block:after {
  content: '';
  display: table;
}
.input-info-block:after {
  clear: both;
}
.input-info-block__title {
  color: #505a7f;
  position: relative;
  margin-bottom: 10px;
}
.input-info-block__text {
  position: relative;
}
.input-info-block__stat {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.25px;
  color: #5e5e5e;
}
.input-info-block--two-columns {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  width: 48.25%;
  margin-left: 0%;
  margin-right: 3.5%;
  border-bottom: 2px solid rgba(81,85,102,0.1);
  padding-bottom: 15px;
  margin: 0 auto 10px;
}
.input-info-block--two-columns:before,
.input-info-block--two-columns:after {
  content: '';
  display: table;
}
.input-info-block--two-columns:after {
  clear: both;
}
.input-info-block--two-columns:nth-child(2n) {
  margin-right: 0%;
  float: right;
}
.input-info-block--two-columns:nth-child(2n + 1) {
  clear: both;
}
.input-info-block--grid {
  height: 100%;
  display: block;
  border-bottom: 2px solid rgba(81,85,102,0.1);
}
.input-info-block--grid .input-info-block__stat {
  line-height: 30px;
  letter-spacing: 0.57px;
}
.step-nav {
  *zoom: 1;
  -webkit-transition: height 0.15s ease-in;
          transition: height 0.15s ease-in;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 460px;
  height: 80px;
  z-index: 5;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.step-nav:before,
.step-nav:after {
  content: '';
  display: table;
}
.step-nav:after {
  clear: both;
}
.step-nav__button {
  -webkit-transition: all 0.2s;
          transition: all 0.2s;
  display: inline-block;
  width: 50%;
  height: 80px;
  text-align: center;
  color: #fff;
  float: left;
  line-height: 80px;
  background-size: 45px auto;
  background-color: #858daa;
  border-top: 2px solid rgba(78,88,127,0.2);
}
.step-nav__button span {
  height: 25px;
}
.step-nav__button .step-nav-arrow {
  display: inline-block;
  line-height: 80px;
  width: 32px;
  height: 25px;
}
.step-nav__button .step-nav-arrow--left {
  background: transparent url("/images/arrow--left.png") no-repeat;
  visibility: hidden;
}
.step-nav__button .step-nav-arrow--right {
  background: transparent url("/images/arrow--right.png") no-repeat;
  visibility: hidden;
}
.step-nav__button.inactive {
  pointer-events: none;
  color: rgba(255,255,225,0.25);
}
.step-nav__button:first-child {
  border-right: 1px solid rgba(78,88,127,0.2);
  background: transparent url("/images/arrow--left.png") no-repeat;
  background-position: 70px 50%;
}
.step-nav__button:first-child.inactive {
  background: transparent url("/images/arrow--left--inactive.png") no-repeat;
  background-position: 70px 50%;
}
.step-nav__button:last-child {
  border-left: 1px solid rgba(78,88,127,0.2);
  background: transparent url("/images/arrow--right.png") no-repeat;
  background-position: 130px 50%;
}
.step-nav__button:last-child.inactive {
  background: transparent url("/images/arrow--right--inactive.png") no-repeat;
  background-position: 130px 50%;
}
.step-nav__button:hover,
.step-nav__button:active {
  background-color: #505a80;
  text-decoration: underline;
}
.step-nav .step-nav-indicators {
  -webkit-transition: opacity 0.12s ease-in, margin-top 1s ease-out;
          transition: opacity 0.12s ease-in, margin-top 1s ease-out;
  position: absolute;
  width: 100%;
  height: 35px;
  left: 0;
  top: -35px;
  text-align: center;
  margin-top: 0;
}
.step-nav .step-nav-indicators__item {
  position: relative;
  display: inline-block;
  margin: 0 3px;
  color: #babccb;
  line-height: 35px;
  width: 14px;
  height: 14px;
  background: rgba(80,90,128,0.5);
  border: 2px solid transparent;
  border-radius: 14px;
  text-indent: -9999px;
  cursor: pointer;
}
.step-nav .step-nav-indicators__item.active {
  background: #fff;
}
.step-nav .step-nav-indicators__item.visited {
  background-color: transparent;
  border: 2px solid #fff;
}
.step-nav.hidden {
  opacity: 0;
  pointer-events: none;
}
.step-nav.contracted {
  -webkit-transition: height 0.3s;
          transition: height 0.3s;
  height: 0;
  border-top: 2px solid rgba(78,88,127,0);
}
.step-nav.contracted .step-nav-buttons {
  -webkit-transition: height 0.3s;
          transition: height 0.3s;
  overflow: hidden;
  height: 0;
}
.steps {
  width: 100%;
  height: 100%;
}
.step {
  *zoom: 1;
  width: 100%;
  height: 100%;
}
.step:before,
.step:after {
  content: '';
  display: table;
}
.step:after {
  clear: both;
}
.step-form {
  position: absolute;
  width: 460px;
  height: 100%;
  top: 0;
  left: 0;
  padding: 0;
  background: #858daa;
  color: #fff;
  z-index: 2;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.step-form .step-form-header {
  display: table;
  top: 0;
  left: 0;
  width: 100%;
  height: 170px;
  padding: 0 80px 0 45px;
  margin-bottom: 35px;
}
.step-form .step-form-header__title {
  display: table-cell;
  vertical-align: bottom;
  margin-top: 80px;
}
.step-form .step-form-content {
  position: absolute;
  top: 200px;
  left: 0;
  width: 100%;
}
.step-form .step-form-content__title {
  font-family: 'Droid Serif', serif;
  font-size: 18px;
  line-height: 21px;
  min-height: 21px;
  color: #505a7f;
  letter-spacing: 1.29px;
  margin: 0 auto 10px;
  padding: 0 45px;
}
.step-form-inner {
  position: relative;
  border-top: 1px solid rgba(78,88,127,0.2);
}
.step-info,
.step-info .step-info-tip__inner {
  position: relative;
  width: auto;
  max-width: 1200px;
  min-width: 1100px;
  height: 100%;
  padding: 200px 40px 40px 500px;
  color: #4f4f4f;
  background: #fff;
  z-index: 1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.step-info p,
.step-info .step-info-tip__inner p {
  margin: 25px auto;
}
.step-info p:first-child,
.step-info .step-info-tip__inner p:first-child {
  margin-top: 0;
}
.step-info p:last-child,
.step-info .step-info-tip__inner p:last-child {
  margin-bottom: 0;
}
.step-info .main-logo,
.step-info .step-info-tip__inner .main-logo {
  position: absolute;
  display: inline-block;
  top: 90px;
  right: 40px;
  z-index: 1000;
}
.step-info .step-info-inner,
.step-info .step-info-tip__inner .step-info-inner {
  margin-top: 0;
  max-width: 700px;
}
.step-info .step-info-tip,
.step-info .step-info-tip__inner .step-info-tip {
  -webkit-transition: opacity 0.33s;
          transition: opacity 0.33s;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: 0;
  pointer-events: none;
}
.step-info .step-info-tip__close,
.step-info .step-info-tip__inner .step-info-tip__close {
  position: absolute;
  top: 200px;
  right: 20px;
  width: 18px;
  height: 18px;
  display: block;
  color: transparent;
  border: none;
  z-index: 100;
  text-indent: -9999px;
  overflow: hidden;
  background: transparent url("/images/close--tip.svg") no-repeat center center;
  cursor: pointer;
}
.step-info .step-info-tip__inner,
.step-info .step-info-tip__inner .step-info-tip__inner {
  background: #fff;
}
.step-info .step-info-tip.visible,
.step-info .step-info-tip__inner .step-info-tip.visible {
  opacity: 1;
  z-index: 50;
  pointer-events: all;
}
.step-info-section {
  margin: 25px auto;
}
.step-info-section .step-info-section__header {
  margin: 15px auto;
}
.step-info-section .step-info-section__content {
  margin: 15px auto;
}
.step-info-section .step-info-section__content a:not(.button) {
  color: #4f4f4f;
  text-decoration: underline;
}
.step-info-section--accordian {
  border-bottom: 2px solid rgba(81,85,102,0.1);
  margin: 15px auto;
}
.step-info-section--accordian .step-info-section__header {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
}
.step-info-section--accordian .step-info-section__header:before {
  position: absolute;
  content: '';
  display: block;
  width: 25px;
  height: 100%;
  left: -2px;
  top: 0;
  background: transparent url("/images/arrow--accordian.png") no-repeat center;
  background-size: 17px auto;
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
  -webkit-transition: -webkit-transform 0.08s ease-out;
          transition: transform 0.08s ease-out;
}
.step-info-section--accordian .step-info-section__content {
  -webkit-transition: max-height 0.33s 0.12s ease-out, padding-bottom 0.15s 0.1s linear;
          transition: max-height 0.33s 0.12s ease-out, padding-bottom 0.15s 0.1s linear;
  max-height: 0;
  overflow: hidden;
  padding-left: 30px;
  margin: 0;
  padding-bottom: 0;
}
.step-info-section--accordian.open {
  -webkit-transition: max-height 0.33s 0.12s ease-out, padding-bottom 0.15s linear;
          transition: max-height 0.33s 0.12s ease-out, padding-bottom 0.15s linear;
}
.step-info-section--accordian.open .step-info-section__content {
  max-height: 600px;
  padding-bottom: 25px;
}
.step-info-section--accordian.open .step-info-section__header:before {
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}
.step--first .step-form {
  position: relative;
  color: #4f4f4f;
  background: #fff;
  width: 500px;
  min-height: 1200px;
  padding: 200px 0;
  margin: 0 auto;
  background: transparent url("/images/wiki-logo.png") no-repeat center 100px;
  background-size: 60px auto;
}
.step--first .step-form__title {
  color: #4e587f;
  margin-bottom: 30px;
}
.step--first .step-form .step-form-header {
  padding: 0;
  width: 100%;
  height: auto;
}
.step--first .step-form .custom-input--text label {
  color: #505a7f;
}
.step--first .step-form .step-form-actions {
  text-align: center;
}
.step--first .step-form .step-form-inner {
  border-top: 0;
}
.step--first .step-form .custom-input--text__inner {
  padding-left: 0;
  padding-right: 0;
  color: #4f4f4f;
}
