/* /////////////////////////////////////////////////////

CenturyLink Cloud Styles
Author: matt@wintr.us

///////////////////////////////////////////////////// */
/* Variables
--------------------------------------------- */
/* Imports
--------------------------------------------- */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ul,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.input-deco,
.custom-input--text,
.custom-input--percent .input-container,
.custom-input-dates .custom-select {
  position: relative;
}
.input-deco:before,
.custom-input--text:before,
.custom-input--percent .input-container:before,
.custom-input-dates .custom-select:before {
  content: '';
  display: block;
  width: 5px;
  height: 3px;
  border-left: 1px solid #505a7f;
  border-bottom: 1px solid #505a7f;
  position: absolute;
  bottom: -1px;
  left: -5px;
}
.input-deco:after,
.custom-input--text:after,
.custom-input--percent .input-container:after,
.custom-input-dates .custom-select:after {
  content: '';
  display: block;
  width: 5px;
  height: 3px;
  border-right: 1px solid #505a7f;
  border-bottom: 1px solid #505a7f;
  position: absolute;
  bottom: -1px;
  right: -5px;
}
.no-mobile {
  display: none;
}
@media screen and (min-width: 400px) {
  .no-mobile {
    display: block;
  }
}
.mobile-only {
  display: block;
}
@media screen and (min-width: 400px) {
  .mobile-only {
    display: none;
  }
}
.edit-mode-only {
  display: none;
}
body.edit-mode .edit-mode-only {
  display: block;
}
.no-edit-mode {
  display: block;
}
body.edit-mode .no-edit-mode {
  display: none;
}
.body-content,
p,
li {
  font-size: 16px;
  line-height: 1.5625;
  letter-spacing: 0.05px;
}
@media screen and (max-height: 880px) {
  .body-content,
  p,
  li,
p,
li {
    font-size: 14px;
  }
}
.body-content--large,
p--large,
li--large,
p.large,
li.large {
  font-size: 18px;
  line-height: 1.555;
  letter-spacing: 0.06px;
}
@media screen and (max-height: 880px) {
  .body-content--large,
  p--large,
  li--large,
p.large,
li.large {
    font-size: 16px;
  }
}
.list-content {
  font-size: 14px;
  line-height: 2.142;
  letter-spacing: 0.5px;
}
@media screen and (max-height: 880px) {
  .list-content {
    font-size: 12px;
  }
}
.form-content,
h2,
.custom-input--text label,
.custom-input--text input,
.custom-input--text .input-editable,
.custom-input--percent input,
.custom-input-dates__label,
.step-nav__button {
  font-family: 'Droid Serif', serif;
  font-size: 18px;
  line-height: 1.166666;
  letter-spacing: 1.29px;
}
@media screen and (max-height: 880px) {
  .form-content,
  h2,
  .custom-input--text label,
  .custom-input--text input,
  .custom-input--text .input-editable,
  .custom-input--percent input,
  .custom-input-dates__label,
  .step-nav__button,
h2,
.custom-input--text label,
.custom-input--text input,
.custom-input--text .input-editable,
.custom-input--percent input,
.custom-input-dates__label,
.step-nav__button {
    font-size: 16px;
  }
}
.form-content--small,
h2--small,
.custom-input--text label--small,
.custom-input--text input--small,
.custom-input--text .input-editable--small,
.custom-input--percent input--small,
.custom-input-dates__label--small,
.step-nav__button--small {
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.78px;
}
@media screen and (max-height: 880px) {
  .form-content--small,
  h2--small,
  .custom-input--text label--small,
  .custom-input--text input--small,
  .custom-input--text .input-editable--small,
  .custom-input--percent input--small,
  .custom-input-dates__label--small,
  .step-nav__button--small {
    font-size: 12px;
  }
}
.large-heading,
h3 {
  font-size: 36px;
  line-height: 1.194;
  letter-spacing: 0.45px;
}
@media screen and (max-height: 880px) {
  .large-heading,
  h3,
h3 {
    font-size: 32px;
  }
}
.medium-heading,
h4 {
  font-size: 24px;
  line-height: 1.1666;
  letter-spacing: 0.38px;
}
@media screen and (max-height: 880px) {
  .medium-heading,
  h4,
h4 {
    font-size: 22px;
  }
}
.small-heading,
h5 {
  font-size: 18px;
  line-height: 1.6667;
  letter-spacing: 1px;
}
@media screen and (max-height: 880px) {
  .small-heading,
  h5,
h5 {
    font-size: 16px;
  }
}
.font-blue {
  color: #858daa;
}
.font-blue--light {
  color: #babccb;
}
.font-blue--lightest {
  color: #e1e3e8;
}
.font-blue--dark {
  color: #505a7f;
}
.font-red {
  color: #e36945;
}
.font-red--light {
  color: #e79167;
}
.font-red--lightest {
  color: #fadbc6;
}
.font-red--dark {
  color: #d95229;
}
.font-yellow {
  color: #f9c622;
}
.font-yellow--light {
  color: #f8c879;
}
.font-yellow--lightest {
  color: #feecb9;
}
.font-yellow--dark {
  color: #f0a92a;
}
.font-green {
  color: #97c65b;
}
.font-green--light {
  color: #b6d1a8;
}
.font-green--lightest {
  color: #e4eecc;
}
.font-green--dark {
  color: #3e9740;
}
* {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}
html {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  height: 100%;
}
body {
  font-family: 'Droid Serif', serif;
  width: 100%;
  height: 100%;
  color: #4f4f4f;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}
p {
  margin: 5px auto;
  color: #4f4f4f;
}
p:first-child {
  margin-top: 0;
}
p:last-child {
  margin-bottom: 0;
}
li {
  margin-left: 20px;
  margin-bottom: 0.5em;
}
li:first-child {
  margin-top: 0;
}
ul {
  list-style: disc;
}
a {
  color: #fff;
  text-decoration: none;
}
strong,
em {
  font-style: italic;
}
select {
  font-family: 'Droid Serif', serif;
}
.container {
  width: 100%;
  height: 100%;
}
.container #app {
  width: 100%;
  eight: 100%;
}
.container #app .home-view,
.container #app .app-view {
  width: 100%;
  height: 100%;
}
.content {
  position: relative;
  display: block;
  width: auto;
  height: 100%;
  margin: 0;
  background: transparent no-repeat top left;
}
.button {
  -webkit-transition: background-color 0.13s, text-decoration 0.13s, color 0.13s;
          transition: background-color 0.13s, text-decoration 0.13s, color 0.13s;
  position: relative;
  display: inline-block;
  background: #505a7f;
  width: 100%;
  max-width: 100%;
  height: 50px;
  line-height: 50px;
  color: #fff;
  font-family: 'Droid Serif', serif;
  border-radius: 3px;
}
.button#publish {
  display: block;
  width: 100%;
}
.button#publish.processing {
  text-indent: -9999px;
  background: #505a7f url("/images/loader.gif") no-repeat center center;
  background-size: 30px auto;
}
.button#beginButton {
  max-width: 290px;
}
.button:hover,
.button:active {
  background-color: #5e6b9a;
  text-decoration: none;
}
.button.inactive {
  background-color: #636c8e;
  color: #a6abbf;
  pointer-events: auto;
}
.input-info {
  position: relative;
  display: block;
}
.input-info-block {
  *zoom: 1;
  width: 100%;
  position: relative;
  margin-bottom: 25px;
}
.input-info-block:before,
.input-info-block:after {
  content: '';
  display: table;
}
.input-info-block:after {
  clear: both;
}
.input-info-block__title {
  color: #505a7f;
  position: relative;
  margin-bottom: 10px;
}
.input-info-block__text {
  position: relative;
}
.input-info-block__stat {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.25px;
  color: #5e5e5e;
}
.input-info-block--two-columns {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  width: 48.25%;
  margin-left: 0%;
  margin-right: 3.5%;
  border-bottom: 2px solid rgba(81,85,102,0.1);
  padding-bottom: 15px;
  margin: 0 auto 10px;
}
.input-info-block--two-columns:before,
.input-info-block--two-columns:after {
  content: '';
  display: table;
}
.input-info-block--two-columns:after {
  clear: both;
}
.input-info-block--two-columns:nth-child(2n) {
  margin-right: 0%;
  float: right;
}
.input-info-block--two-columns:nth-child(2n + 1) {
  clear: both;
}
.input-info-block--grid {
  height: 100%;
  display: block;
  border-bottom: 2px solid rgba(81,85,102,0.1);
}
.input-info-block--grid .input-info-block__stat {
  line-height: 30px;
  letter-spacing: 0.57px;
}
.custom-input--checkbox.disabled,
.custom-input--link.disabled,
.custom-input--radiobox.disabled {
  color: rgba(255,255,255,0.5);
}
.custom-input--text {
  display: block;
  position: relative;
  border-bottom: 1px solid #505a7f;
  width: 100%;
  height: 60px;
  margin: 10px auto;
  padding: 0;
}
.custom-input--text .custom-input--text__inner {
  position: relative;
  width: 100%;
  height: 100%;
  padding-left: 40px;
  padding-right: text-input-padding-left-rightt;
}
.custom-input--text label {
  -webkit-transition: top 0.1s ease-out;
          transition: top 0.1s ease-out;
  display: block;
  width: 100%;
  height: 30px;
  font-size: 16px;
  line-height: 1.875;
  position: absolute;
  top: 28px;
  left: 0;
  padding: 0 5px;
}
@media screen and (max-height: 880px) {
  .custom-input--text label {
    font-size: 14px;
  }
}
.custom-input--text input,
.custom-input--text .input-editable {
  position: relative;
  width: 100%;
  background: transparent;
  color: #4f4f4f;
  margin-top: 30px;
  height: 30px;
  border: none;
  outline: none;
  letter-spacing: 1px;
  line-height: 30px;
  padding: 0 5px;
}
.custom-input-wrapper.open .custom-input--text label {
  top: 0px;
}
.custom-input--link {
  color: #fff;
  position: relative;
  width: 100%;
  height: auto;
  padding: 0 40px 0;
  font-size: 14px;
  line-height: 40px;
  text-decoration: underline;
  background-color: #858daa;
  z-index: 1;
}
.custom-input--percent {
  position: relative;
  display: block;
  width: 100%;
  min-height: auto;
  color: #fff;
  border-bottom: 1px solid rgba(78,88,127,0.2);
  font-size: 17px;
  padding: 15px 70px 15px 40px;
  padding-right: 100px;
}
.custom-input--percent .input-container {
  position: absolute;
  padding: 0 5px;
  border-bottom: 2px solid #505a7f;
  width: 30px;
  height: 25px;
  top: 50%;
  right: 45px;
  margin-top: -12px;
  display: inline-block;
}
@media screen and (max-height: 880px) {
  .custom-input--percent .input-container {
    right: 45px;
    height: 20px;
  }
}
.custom-input--percent .input-container .icon {
  display: block;
  width: 17px;
  height: 25px;
  position: absolute;
  right: -21px;
  background: transparent url("/images/percent.svg") no-repeat center center;
}
.custom-input--percent .input-container:before {
  border-left: 2px solid #505a7f;
  border-bottom: 2px solid #505a7f;
  bottom: -2px;
  left: -5px;
}
.custom-input--percent .input-container:after {
  border-right: 2px solid #505a7f;
  border-bottom: 2px solid #505a7f;
  bottom: -2px;
}
.custom-input--percent input {
  position: relative;
  background: transparent;
  color: #fff;
  width: 25px;
  display: inline-block;
  border: none;
  outline: none;
  text-align: center;
  font-size: 16px;
}
@media screen and (max-height: 880px) {
  .custom-input--percent input {
    font-size: 14px;
  }
}
.custom-input--percent label {
  font-size: 14px;
  line-height: 1.222;
}
@media screen and (max-height: 880px) {
  .custom-input--percent label {
    font-size: 12px;
  }
}
.custom-input-accordian {
  position: relative;
}
.custom-input-accordian__header {
  position: relative;
}
.custom-input-accordian__header:before {
  position: absolute;
  content: '';
  display: none;
  width: 25px;
  height: 25px;
  left: -30px;
  top: 0;
  background: transparent url("/images/arrow--accordian--white.png") no-repeat center;
  background-size: 17px auto;
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
  -webkit-transition: -webkit-transform 0.08s ease-out;
          transition: transform 0.08s ease-out;
}
.custom-input-accordian__content {
  -webkit-transition: max-height 0.3s 0.15s ease-out;
          transition: max-height 0.3s 0.15s ease-out;
  max-height: 0;
  overflow: hidden;
  margin: 0;
  padding-bottom: 0;
}
.custom-input-accordian__content ul {
  margin-top: 10px;
}
.custom-input-accordian__content ul li {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.05px;
  margin-bottom: 0;
}
.custom-input-wrapper.has-content .custom-input-accordian .custom-input-accordian__header:before {
  display: block;
}
.custom-input-wrapper.has-content .custom-input-accordian:hover {
  -webkit-transition: max-height 0.3s 0.3s ease-in;
          transition: max-height 0.3s 0.3s ease-in;
}
.custom-input-wrapper.has-content .custom-input-accordian:hover .custom-input-accordian__content {
  max-height: 200px;
}
.custom-input-wrapper.has-content .custom-input-accordian:hover .custom-input-accordian__header:before {
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}
.custom-input--edit {
  position: relative;
  display: block;
  width: 100%;
  min-height: auto;
  color: #fff;
  border-bottom: 1px solid rgba(78,88,127,0.2);
  font-size: 18px;
  cursor: pointer;
  font-size: 17px;
  padding: 15px 70px 15px 40px;
  padding-top: 10px;
  padding-bottom: 10px;
}
@media screen and (max-height: 880px) {
  .custom-input--edit padding-right 100px {
    padding-top: 7px;
    padding-botom: 7px;
  }
}
@media screen and (max-height: 880px) {
  .custom-input--edit {
    font-size: 16px;
  }
}
.custom-input--edit .edit-button {
  -webkit-transition: color 0.15s;
          transition: color 0.15s;
  display: block;
  width: 22px;
  height: 22px;
  position: absolute;
  top: 10px;
  right: 43px;
  background: transparent;
  z-index: 100;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0.2px;
}
.custom-input--edit .edit-button:hover {
  color: #505a7f;
}
.custom-input--edit label {
  line-height: 22px;
  cursor: pointer;
  font-size: 16px;
}
@media screen and (max-height: 880px) {
  .custom-input--edit label {
    font-size: 14px;
  }
}
.custom-input--checkbox,
.custom-input--radiobox {
  position: relative;
  display: table;
  width: 100%;
  min-height: auto;
  color: #fff;
  border-bottom: 1px solid rgba(78,88,127,0.2);
  font-size: 18px;
  padding: 15px 70px 15px 40px;
}
@media screen and (max-height: 880px) {
  .custom-input--checkbox,
  .custom-input--radiobox,
.custom-input--radiobox {
    font-size: 16px;
    min-height: auto;
    padding: 15px 70px 15px 40px;
  }
}
.custom-input--checkbox label,
.custom-input--radiobox label {
  display: table-cell;
  vertical-align: middle;
  line-height: 1.2;
  cursor: pointer;
}
.custom-input--checkbox label span,
.custom-input--radiobox label span {
  display: inline-block;
  width: auto;
}
.custom-input--checkbox input,
.custom-input--radiobox input {
  display: none;
  cursor: pointer;
}
.custom-input--checkbox .check-button,
.custom-input--radiobox .check-button {
  -webkit-transition: 0.1s background-color;
          transition: 0.1s background-color;
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -8px;
  right: 40px;
  width: 18px;
  height: 18px;
  border: 2px solid #fff;
  background-color: transparent;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  cursor: pointer;
}
.custom-input--checkbox .radio-button,
.custom-input--radiobox .radio-button {
  -webkit-transition: 0.1s background-color;
          transition: 0.1s background-color;
  display: block;
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  right: 40px;
  margin-top: -8px;
  background-color: transparent;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  cursor: pointer;
  border: 2px solid #fff;
  border-radius: 18px;
}
.custom-input--checkbox.not-editable,
.custom-input--radiobox.not-editable {
  color: rgba(255,255,255,0.6);
}
.custom-input--checkbox.not-editable .check-button,
.custom-input--radiobox.not-editable .check-button,
.custom-input--checkbox.not-editable .radio-button,
.custom-input--radiobox.not-editable .radio-button,
.custom-input--checkbox.not-editable .edit-button,
.custom-input--radiobox.not-editable .edit-button {
  opacity: 0.6;
  pointer: default;
}
.custom-input--radio {
  position: relative;
  display: table;
  width: 100%;
  min-height: 65px;
  color: #fff;
  font-size: 18px;
  padding: 15px 70px 15px 40px;
  line-height: 1;
}
.custom-input--radio .radio-button {
  -webkit-transition: 0.1s background-color;
          transition: 0.1s background-color;
  display: block;
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  right: 40px;
  margin-top: -8px;
  background-color: transparent;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  cursor: pointer;
  border: 2px solid #fff;
  border-radius: 18px;
}
.custom-input--radio input {
  display: none;
  cursor: pointer;
}
.custom-input--radio label {
  display: table-cell;
  vertical-align: middle;
  cursor: pointer;
  line-height: 1.2;
}
.custom-input--radio.custom-input--radio-group {
  position: relative;
  display: inline-block;
  width: 58px;
  border: none;
  padding: 0;
  text-align: center;
}
.custom-input--radio.custom-input--radio-group label {
  line-height: 65px;
  padding-left: 5px;
}
.custom-input--radio.custom-input--radio-group .radio-button {
  margin-top: -10px;
  right: auto;
  left: 25px;
}
@media screen and (max-height: 880px) {
  .custom-input--radio.custom-input--radio-group {
    height: 50px;
    line-height: 50px;
  }
}
.custom-input-radio-inner__header {
  padding: 0 40px;
}
.custom-input-radio-inner .custom-input--radio {
  border-bottom: 1px solid rgba(78,88,127,0.2);
}
.custom-input-radio-inner .custom-input--radio:last-child {
  border-bottom: 1px solid rgba(78,88,127,0.2);
}
.custom-input-radio-inner--group {
  height: auto;
  text-align: center;
  padding: 0 40px;
  white-space: nowrap;
  border-top: none;
}
.custom-input-radio-inner--group .custom-input--radio {
  border: none;
}
.custom-input-radio-inner--group .custom-input--radio:last-child {
  border: none;
}
.custom-input-wrapper {
  position: relative;
  width: auto;
  height: auto;
}
.custom-input-wrapper.link:before {
  display: none !important;
}
.custom-input-wrapper.checked .custom-input--checkbox .check-button {
  background-color: #fff;
}
.custom-input-wrapper .custom-input--radio.checked .radio-button {
  background-color: #fff;
}
.custom-input-wrapper .custom-input--checkbox.checked .check-button {
  background-color: #fff;
}
.custom-input-wrapper .custom-input--radiobox.checked .radio-button {
  background-color: #fff;
}
.custom-input-wrapper.has-info {
  position: relative;
  cursor: pointer;
  z-index: 1;
}
.custom-input-wrapper.has-info .custom-input {
  position: relative;
}
.custom-input-wrapper.has-info .custom-input .info-icon {
  -webkit-transition: right 0.13s ease-out;
          transition: right 0.13s ease-out;
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  right: 12px;
  margin-top: -7px;
  background: transparent url("/images/info-icon--white.png") no-repeat;
  background-size: 100% auto;
  background-position: 100% auto;
  z-index: 5;
}
.custom-input-wrapper.has-info * {
  cursor: pointer;
}
.custom-input-wrapper.has-info.not-editable {
  cursor: default;
}
.custom-input-wrapper.has-info.not-editable * {
  cursor: default;
}
.custom-input-wrapper.has-info .custom-input--checkbox {
  -webkit-transition: all 0.13s ease-out;
          transition: all 0.13s ease-out;
  z-index: 10;
  background: #858daa;
}
.custom-input-wrapper.has-info .info-arrow {
  -webkit-transition: all 0.13s ease-out;
          transition: all 0.13s ease-out;
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 25px;
  height: 100%;
  background: transparent url("/images/tooltip-arrow--right.svg") no-repeat;
  background-size: auto 100%;
  z-index: 1;
  background-position: -1px 50%;
}
.custom-input-wrapper.has-info.selected {
  overflow-x: visible;
}
.custom-input-wrapper.has-info.selected .custom-input {
  background: #697294;
  border-color: rgba(78,88,127,0);
}
.custom-input-wrapper.has-info.selected .info-icon {
  right: 3px;
}
.custom-input-wrapper.has-info.selected .info-arrow {
  right: -25px;
  background-position: -1px 50%;
}
.custom-input-dates {
  position: relative;
  width: 100%;
  height: 45px;
  margin: 80px auto 40px;
}
.step--last .custom-input-dates {
  display: none !important;
}
.custom-input-dates__label {
  -webkit-transition: top 0.1s ease-out;
          transition: top 0.1s ease-out;
  position: absolute;
  display: block;
  width: 100%;
  height: 30px;
  font-size: 16px;
  line-height: 30px;
  position: absolute;
  top: -40px;
  left: 0;
  padding: 0 5px;
  color: #505a7f;
}
@media screen and (max-height: 880px) {
  .custom-input-dates__label {
    font-size: 14px;
    line-height: 1.875;
  }
}
.custom-input-dates__inner {
  display: inline-block;
  width: auto;
  height: 45px;
}
.custom-input-dates__inner.from {
  float: left;
  text-align: left;
}
.custom-input-dates__inner.to {
  float: right;
  text-align: right;
}
.step--last .custom-input-dates {
  margin: 50px 0 40px;
  max-width: 480px;
}
.custom-input-dates span.dates-to {
  font-size: 18px;
  display: inline-block;
  vertical-align: bottom;
  position: absolute;
  width: 35px;
  height: 100%;
  line-height: 45px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -15px;
  text-align: center;
}
.custom-input-dates .custom-select {
  display: inline-block;
  position: relative;
  width: 52px;
  height: 40px;
  background: transparent url("/images/arrow--dropdown.svg") no-repeat right;
  border-bottom: 1px solid #505a7f;
  margin: 0 5px;
}
.custom-input-dates .custom-select .custom-select-label {
  -webkit-transition: top 0.1s ease-out;
          transition: top 0.1s ease-out;
  display: block;
  width: 100%;
  height: auto;
  position: absolute;
  top: 18px;
  left: 0;
  text-align: left;
  font-family: 'Droid', serif;
  font-size: 15px;
  color: #505a7f;
  letter-spacing: 0.3px;
}
.custom-input-dates .custom-select.open .custom-select-label {
  top: -10px;
}
.custom-input-dates .custom-select select {
  position: relative;
  background: transparent;
  width: 52px;
  font-size: 16px;
  line-height: 40px;
  border: 0;
  border-radius: 0;
  height: 40px;
  -webkit-appearance: none;
  -moz-appearance: window;
  appearance: none;
  outline: none;
  color: #505a7f;
  text-align: center;
  cursor: pointer;
  text-align: left;
  z-index: 100;
  text-indent: 0;
  font-weight: bolder;
}
.custom-input-dates .custom-select--day,
.custom-input-dates .custom-select--month {
  padding-left: 3px;
}
.custom-input-dates .custom-select--year {
  width: 72px;
}
.custom-input-dates .custom-select--year select {
  width: 72px;
  padding-left: 6px;
}
.custom-input-dates .custom-select--year select::-ms-expand {
  display: none !important;
}
textarea {
  border-color: #c9c9c9;
}
.main-logo {
  width: 60px;
  height: 60px;
  background: transparent url("/images/wiki-logo.png") no-repeat center center;
  background-size: 100% auto;
  overflow: hidden;
  text-indent: -9999px;
}
.custom-input-grading .custom-input-grading-summary {
  *zoom: 1;
  padding: 10px 40px 20px;
}
.custom-input-grading .custom-input-grading-summary:before,
.custom-input-grading .custom-input-grading-summary:after {
  content: '';
  display: table;
}
.custom-input-grading .custom-input-grading-summary:after {
  clear: both;
}
@media screen and (max-height: 880px) {
  .custom-input-grading .custom-input-grading-summary {
    padding: 6px 40px 10px;
  }
}
.custom-input-grading__total,
.custom-input-grading__percent {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  width: 50%;
  margin-left: 0%;
  margin-right: 0%;
}
.custom-input-grading__total:before,
.custom-input-grading__percent:before,
.custom-input-grading__total:after,
.custom-input-grading__percent:after {
  content: '';
  display: table;
}
.custom-input-grading__total:after,
.custom-input-grading__percent:after {
  clear: both;
}
.custom-input-grading__total:nth-child(2n),
.custom-input-grading__percent:nth-child(2n) {
  margin-right: 0%;
  float: right;
}
.custom-input-grading__total:nth-child(2n + 1),
.custom-input-grading__percent:nth-child(2n + 1) {
  clear: both;
}
@media screen and (max-height: 880px) {
  .custom-input-grading__total h3,
  .custom-input-grading__percent h3 {
    font-size: 32px;
  }
}
@media screen and (max-height: 780px) {
  .custom-input-grading__total h3,
  .custom-input-grading__percent h3 {
    font-size: 26px;
  }
}
.custom-input-grading__percent {
  text-align: right;
}
.custom-input-grading__percent h3 {
  display: inline block;
  width: auto;
}
.custom-input-grading__percent.over-limit {
  color: #e36945;
}
.custom-input-grading .custom-input-grading-selection {
  display: none;
  position: relative;
  padding: 0 45px;
}
@media screen and (max-height: 880px) {
  .custom-input-grading .custom-input-grading-selection {
    padding: 0 40px;
  }
}
.custom-input-grading .custom-input-grading-selection__title {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  margin-bottom: 0;
  color: #505a7f;
}
.custom-input-grading .custom-input-grading-selection .custom-input-wrapper {
  *zoom: 1;
  height: auto;
}
.custom-input-grading .custom-input-grading-selection .custom-input-wrapper:before,
.custom-input-grading .custom-input-grading-selection .custom-input-wrapper:after {
  content: '';
  display: table;
}
.custom-input-grading .custom-input-grading-selection .custom-input-wrapper:after {
  clear: both;
}
.custom-input-grading .custom-input-grading-selection .custom-input-wrapper .custom-input--radio {
  min-height: 40px;
  height: 40px;
}
.custom-input-grading .custom-input-grading-selection .custom-input-wrapper .custom-input--radio-group {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  width: 47.75%;
  margin-left: 0%;
  margin-right: 4.5%;
  height: 40px;
}
.custom-input-grading .custom-input-grading-selection .custom-input-wrapper .custom-input--radio-group:before,
.custom-input-grading .custom-input-grading-selection .custom-input-wrapper .custom-input--radio-group:after {
  content: '';
  display: table;
}
.custom-input-grading .custom-input-grading-selection .custom-input-wrapper .custom-input--radio-group:after {
  clear: both;
}
.custom-input-grading .custom-input-grading-selection .custom-input-wrapper .custom-input--radio-group:nth-child(2n) {
  margin-right: 0%;
  float: right;
}
.custom-input-grading .custom-input-grading-selection .custom-input-wrapper .custom-input--radio-group:nth-child(2n + 1) {
  clear: both;
}
.custom-input-grading .custom-input-grading-selection .custom-input-wrapper .custom-input--radio-group label {
  line-height: 40px;
  padding-left: 25px;
}
.custom-input-grading .custom-input-grading-selection .custom-input-wrapper .custom-input--radio-group .radio-button {
  left: 0;
}
.step-nav {
  *zoom: 1;
  -webkit-transition: height 0.15s ease-in;
          transition: height 0.15s ease-in;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 400px;
  height: 80px;
  z-index: 5;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: #858daa;
}
.step-nav:before,
.step-nav:after {
  content: '';
  display: table;
}
.step-nav:after {
  clear: both;
}
@media screen and (max-height: 880px) {
  .step-nav {
    height: 60px;
  }
}
.step-nav .step-nav-buttons--normal {
  position: relative;
  display: block;
}
.step-nav .step-nav-buttons--edit {
  display: none;
}
.edit-mode .step-nav .step-nav-buttons--normal {
  position: relative;
  display: none;
}
.edit-mode .step-nav .step-nav-buttons--edit {
  position: relative;
  display: block;
}
.step-nav__button {
  -webkit-transition: all 0.2s;
          transition: all 0.2s;
  display: inline-block;
  width: 50%;
  height: 80px;
  text-align: center;
  color: #fff;
  float: left;
  line-height: 80px;
  background-size: 45px auto;
  background-color: #858daa;
  border-top: 2px solid rgba(78,88,127,0.2);
}
@media screen and (max-height: 880px) {
  .step-nav__button {
    height: 60px;
    line-height: 60px;
    font-size: 16px;
  }
}
.step-nav__button span.arrow {
  height: 25px;
}
.step-nav__button .step-nav-arrow {
  display: inline-block;
  line-height: 80px;
  width: 32px;
  height: 25px;
}
.step-nav__button .step-nav-arrow--left {
  background: transparent url("/images/arrow--left.png") no-repeat;
  visibility: hidden;
}
.step-nav__button .step-nav-arrow--right {
  background: transparent url("/images/arrow--right.png") no-repeat;
  visibility: hidden;
}
.step-nav__button.inactive {
  cursor: default;
  color: rgba(255,255,225,0.25);
  pointer-events: auto;
}
.step-nav__button:first-child {
  border-right: 1px solid rgba(78,88,127,0.2);
  background: transparent url("/images/arrow--left.png") no-repeat;
  background-position: 53px 50%;
}
.step-nav__button:first-child.inactive {
  background: transparent url("/images/arrow--left--inactive.png") no-repeat;
  background-position: 53px 50%;
}
.step-nav__button:last-child {
  border-left: 1px solid rgba(78,88,127,0.2);
  background: transparent url("/images/arrow--right.png") no-repeat;
  background-position: 112px 50%;
}
.step-nav__button:last-child.inactive {
  background: transparent url("/images/arrow--right--inactive.png") no-repeat;
  background-position: 112px 50%;
}
.step-nav__button:hover,
.step-nav__button:active {
  background-color: #505a80;
}
.step-nav__button:hover span.text,
.step-nav__button:active span.text {
  text-decoration: none;
}
.step-nav__button.confirm,
.step-nav__button.cancel {
  background: transparent;
}
.step-nav__button.no-arrow {
  background: none !important;
}
.step--final .step-nav__button:first-child {
  display: none;
}
.step-nav__button.exit-edit {
  width: 100%;
  background: transparent url("/images/arrow--right.png") no-repeat;
  background-position: 310px 50%;
}
.step-nav__button.exit-edit span.text {
  -webkit-transition: margin-left 0.15s ease-in;
          transition: margin-left 0.15s ease-in;
  margin-left: 0;
  position: relative;
}
.step-nav__button.exit-edit:hover span.text {
  -webkit-transition: margin-left 0.15s ease-in;
          transition: margin-left 0.15s ease-in;
  margin-left: 0;
}
.step-nav .step-nav-indicators {
  -webkit-transition: opacity 0.12s ease-in, margin-top 1s ease-out;
          transition: opacity 0.12s ease-in, margin-top 1s ease-out;
  position: absolute;
  width: 100%;
  height: 35px;
  left: 0;
  top: -35px;
  text-align: center;
  margin-top: 0;
  background: #858daa;
  opacity: 1;
}
@media screen and (max-height: 880px) {
  .step-nav .step-nav-indicators {
    height: 20px;
    top: -25px;
  }
}
@media screen and (max-height: 780px) {
  .step-nav .step-nav-indicators {
    top: -18px;
  }
}
.step-nav .step-nav-indicators__item {
  position: relative;
  display: inline-block;
  margin: 0 3px;
  color: #babccb;
  line-height: 35px;
  width: 14px;
  height: 14px;
  background: rgba(80,90,128,0.5);
  border: 2px solid transparent;
  border-radius: 14px;
  text-indent: -9999px;
  pointer-events: none;
}
@media screen and (max-height: 880px) {
  .step-nav .step-nav-indicators__item {
    line-height: 20px;
    width: 10px;
    height: 10px;
    border-radius: 10px;
  }
}
.step-nav .step-nav-indicators__item.visited {
  background-color: transparent;
  border: 2px solid #fff;
  cursor: pointer;
  pointer-events: auto;
}
.step-nav .step-nav-indicators__item.active,
.step-nav .step-nav-indicators__item.visited.active {
  background: #fff;
  pointer-events: auto;
}
.step-nav .step-nav-indicators__item.active {
  cursor: initial;
  pointer-events: auto;
}
.step-nav .step-nav-indicators__item.answered {
  background-color: transparent;
  border: 2px solid #fff;
  pointer-events: auto;
}
@media screen and (max-height: 780px) {
  .step-nav .step-nav-indicators__item {
    pointer-events: none;
  }
}
.step-nav.hidden {
  opacity: 0;
  pointer-events: none;
}
.step-nav.contracted {
  -webkit-transition: height 0.3s;
          transition: height 0.3s;
  height: 0;
  border-top: 2px solid rgba(78,88,127,0);
}
.step-nav.contracted .step-nav-buttons {
  -webkit-transition: height 0.3s;
          transition: height 0.3s;
  overflow: hidden;
  height: 0;
}
.steps {
  width: 100%;
  height: 100%;
}
.step {
  *zoom: 1;
  width: 100%;
  height: 100%;
}
.step:before,
.step:after {
  content: '';
  display: table;
}
.step:after {
  clear: both;
}
.step-form {
  position: fixed;
  width: 400px;
  height: 100%;
  top: 0;
  left: 0;
  padding: 0;
  padding-bottom: 40px;
  background: #858daa;
  color: #fff;
  z-index: 2;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.step-form .step-form-header {
  display: table;
  width: 100%;
  height: 170px;
  padding: 0 80px 0 40px;
  margin-bottom: 35px;
}
@media screen and (max-height: 880px) {
  .step-form .step-form-header {
    height: 100px;
    padding: 0 80px 0 40px;
    margin-bottom: 20px;
  }
}
.step-form .step-form-header__title {
  display: table-cell;
  vertical-align: bottom;
  margin-top: 80px;
}
@media screen and (max-height: 880px) {
  .step-form .step-form-header__title {
    margin-top: 30px;
  }
}
.step-form .step-form-content {
  position: absolute;
  top: 200px;
  left: 0;
  width: 100%;
}
@media screen and (max-height: 880px) {
  .step-form .step-form-content {
    top: 130px;
  }
}
.step-form .step-form-content__title {
  font-family: 'Droid Serif', serif;
  font-size: 18px;
  line-height: 21px;
  min-height: 21px;
  color: #505a7f;
  letter-spacing: 1.29px;
  margin: 0 auto 10px;
  padding: 0 40px;
}
@media screen and (max-height: 880px) {
  .step-form .step-form-content__title {
    font-size: 16px;
    line-height: 19px;
  }
}
.step-form-inner {
  position: relative;
  border-top: 1px solid rgba(78,88,127,0.2);
}
.step-info,
.step-info .step-info-tip__inner {
  position: relative;
  width: 100%;
  max-width: 1200px;
  min-width: 1000px;
  padding: 200px 40px 40px 440px;
  color: #4f4f4f;
  background: #fff;
  z-index: 1;
}
@media screen and (max-height: 880px) {
  .step-info,
  .step-info .step-info-tip__inner,
.step-info .step-info-tip__inner {
    max-width: 1000px;
    min-width: 900px;
    padding: 130px 40px 40px 440px;
  }
}
.step--last .step-info,
.step--last .step-info .step-info-tip__inner {
  padding: 200px 40px 40px 440px;
}
@media screen and (max-height: 880px) {
  .step--last .step-info,
  .step--last .step-info .step-info-tip__inner {
    padding: 130px 40px 40px 440px;
  }
}
.step-info .step-info-section p,
.step-info .step-info-tip__inner .step-info-section p {
  margin: 20px auto;
}
.step-info .step-info-section p:first-child,
.step-info .step-info-tip__inner .step-info-section p:first-child {
  margin-top: 0;
}
.step-info .step-info-section p:last-child,
.step-info .step-info-tip__inner .step-info-section p:last-child {
  margin-bottom: 0;
}
@media screen and (max-height: 880px) {
  .step-info .step-info-section p,
  .step-info .step-info-tip__inner .step-info-section p {
    margin: 15px auto;
  }
}
.step-info .main-logo,
.step-info .step-info-tip__inner .main-logo {
  position: absolute;
  display: inline-block;
  top: 90px;
  right: 40px;
  z-index: 1000;
}
@media screen and (max-height: 880px) {
  .step-info .main-logo,
  .step-info .step-info-tip__inner .main-logo {
    top: 40px;
  }
}
.step-info .step-info-inner,
.step-info .step-info-tip__inner .step-info-inner {
  -webkit-transition: opacity 0.15s 0.25s linear;
          transition: opacity 0.15s 0.25s linear;
  margin-top: 0;
  opacity: 1;
}
.step-info .step-info-tip,
.step-info .step-info-tip__inner .step-info-tip {
  -webkit-transition: opacity 0.33s 0.123s ease-in;
          transition: opacity 0.33s 0.123s ease-in;
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: 0;
  max-width: 1200px;
  min-width: 1000px;
  pointer-events: none;
  background: #fff;
}
@media screen and (max-height: 880px) {
  .step-info .step-info-tip,
  .step-info .step-info-tip__inner .step-info-tip {
    max-width: 1000px;
    min-width: 900px;
  }
}
.step-info .step-info-tip__close,
.step-info .step-info-tip__inner .step-info-tip__close {
  position: absolute;
  top: 200px;
  right: 20px;
  width: 18px;
  height: 18px;
  display: block;
  color: transparent;
  border: none;
  z-index: 100;
  text-indent: -9999px;
  overflow: hidden;
  background: transparent url("/images/close--tip.svg") no-repeat center center;
  cursor: pointer;
}
@media screen and (max-height: 880px) {
  .step-info .step-info-tip__close,
  .step-info .step-info-tip__inner .step-info-tip__close {
    top: 130px;
  }
}
.step-info .step-info-tip__inner,
.step-info .step-info-tip__inner .step-info-tip__inner {
  background: #fff;
  height: 100%;
}
.step-info .step-info-tip.visible,
.step-info .step-info-tip__inner .step-info-tip.visible {
  display: block;
  opacity: 1;
  z-index: 50;
  pointer-events: all;
}
.step-info-section {
  margin: 25px auto;
}
@media screen and (max-height: 880px) {
  .step-info-section {
    margin: 20px auto;
  }
}
@media screen and (max-height: 780px) {
  .step-info-section {
    margin: 15px auto;
  }
}
.step-info-section .step-info-section__header {
  margin: 15px auto;
}
@media screen and (max-height: 880px) {
  .step-info-section .step-info-section__header {
    margin: 10px auto;
  }
}
.step-info-section .step-info-section__content {
  margin: 15px auto;
}
@media screen and (max-height: 880px) {
  .step-info-section .step-info-section__content {
    margin: 10px auto;
  }
}
.step-info-section .step-info-section__content a:not(.button) {
  color: #4f4f4f;
  text-decoration: underline;
}
.step-info-section .step-info-section__content:first-child {
  margin-top: 0;
}
.step-info-section--accordian {
  border-top: 2px solid rgba(81,85,102,0.1);
  border-bottom: 2px solid rgba(81,85,102,0.1);
  margin: 15px auto;
}
@media screen and (max-height: 880px) {
  .step-info-section--accordian {
    margin: 10px auto;
  }
}
.step-info-section--accordian .step-info-section__header {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}
.step-info-section--accordian .step-info-section__header:before {
  position: absolute;
  content: '';
  display: block;
  width: 25px;
  height: 100%;
  left: -2px;
  top: 0;
  background: transparent url("/images/arrow--accordian.png") no-repeat center;
  background-size: 17px auto;
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
  -webkit-transition: -webkit-transform 0.08s ease-out;
          transition: transform 0.08s ease-out;
}
.step-info-section--accordian .step-info-section__content {
  -webkit-transition: max-height 0.33s 0.12s ease-out, padding-bottom 0.15s 0.1s linear;
          transition: max-height 0.33s 0.12s ease-out, padding-bottom 0.15s 0.1s linear;
  max-height: 0;
  overflow: hidden;
  padding-left: 30px;
  margin: 0;
  padding-bottom: 0;
}
.step-info-section--accordian.open {
  -webkit-transition: max-height 0.33s 0.12s ease-out, padding-bottom 0.15s linear;
          transition: max-height 0.33s 0.12s ease-out, padding-bottom 0.15s linear;
}
.step-info-section--accordian.open .step-info-section__content {
  max-height: 800px;
  padding-bottom: 25px;
}
.step-info-section--accordian.open .step-info-section__header:before {
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}
.step-info-section--accordian + .step-info-section--accordian {
  border-top: none;
}
.step--first .step-form {
  position: relative;
  color: #4f4f4f;
  background: #fff;
  width: 500px;
  min-height: 1300px;
  padding: 200px 0;
  margin: 0 auto;
  background: transparent url("/images/wiki-logo.png") no-repeat center 100px;
  background-size: 60px auto;
}
@media screen and (max-height: 880px) {
  .step--first .step-form {
    padding: 130px 0;
    min-height: 1000px;
    background-position: 50% 50px;
  }
}
.step--first .step-form .step-form-instructions p.large {
  margin-bottom: 15px;
}
.step--first .step-form__title {
  color: #4e587f;
  margin-bottom: 20px;
}
.step--first .step-form .step-form-header {
  padding: 0;
  width: 100%;
  height: auto;
}
.step--first .step-form .custom-input--text label {
  color: #505a7f;
}
.step--first .step-form .step-form-actions {
  text-align: center;
}
.step--first .step-form .step-form-inner {
  border-top: 0;
}
.step--first .step-form .custom-input--text__inner {
  padding-left: 0;
  padding-right: 0;
  color: #4f4f4f;
}
.step--login .step-form {
  min-height: initial;
}
.step--login #skipLoginButton {
  display: inline-block;
  margin-top: 15px;
}
.step--login .step-form-instructions {
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
}
.step--grading,
.step--assignment_selection,
.step--learning_essentials,
.step--getting_started,
.step--choosing_articles,
.step--research_planning,
.step--drafts_mainspace,
.step--peer_feedback,
.step--supplementary_assignments,
.step--dyk,
.step--ga,
.step--overview {
  position: relative;
}
.step--grading .step-form,
.step--assignment_selection .step-form,
.step--learning_essentials .step-form,
.step--getting_started .step-form,
.step--choosing_articles .step-form,
.step--research_planning .step-form,
.step--drafts_mainspace .step-form,
.step--peer_feedback .step-form,
.step--supplementary_assignments .step-form,
.step--dyk .step-form,
.step--ga .step-form,
.step--overview .step-form {
  padding-bottom: 0;
}
.step--grading .step-form .step-form-header,
.step--assignment_selection .step-form .step-form-header,
.step--learning_essentials .step-form .step-form-header,
.step--getting_started .step-form .step-form-header,
.step--choosing_articles .step-form .step-form-header,
.step--research_planning .step-form .step-form-header,
.step--drafts_mainspace .step-form .step-form-header,
.step--peer_feedback .step-form .step-form-header,
.step--supplementary_assignments .step-form .step-form-header,
.step--dyk .step-form .step-form-header,
.step--ga .step-form .step-form-header,
.step--overview .step-form .step-form-header {
  display: block;
  height: 200px;
  padding: 0 80px 0 40px;
  margin-bottom: 0;
}
@media screen and (max-height: 880px) {
  .step--grading .step-form .step-form-header,
  .step--assignment_selection .step-form .step-form-header,
  .step--learning_essentials .step-form .step-form-header,
  .step--getting_started .step-form .step-form-header,
  .step--choosing_articles .step-form .step-form-header,
  .step--research_planning .step-form .step-form-header,
  .step--drafts_mainspace .step-form .step-form-header,
  .step--peer_feedback .step-form .step-form-header,
  .step--supplementary_assignments .step-form .step-form-header,
  .step--dyk .step-form .step-form-header,
  .step--ga .step-form .step-form-header,
  .step--overview .step-form .step-form-header {
    height: 150px;
  }
}
.step--grading .step-form .step-form-header__title,
.step--assignment_selection .step-form .step-form-header__title,
.step--learning_essentials .step-form .step-form-header__title,
.step--getting_started .step-form .step-form-header__title,
.step--choosing_articles .step-form .step-form-header__title,
.step--research_planning .step-form .step-form-header__title,
.step--drafts_mainspace .step-form .step-form-header__title,
.step--peer_feedback .step-form .step-form-header__title,
.step--supplementary_assignments .step-form .step-form-header__title,
.step--dyk .step-form .step-form-header__title,
.step--ga .step-form .step-form-header__title,
.step--overview .step-form .step-form-header__title {
  display: inline-block;
  vertical-align: baseline;
  margin-top: 80px;
}
@media screen and (max-height: 880px) {
  .step--grading .step-form .step-form-header__title,
  .step--assignment_selection .step-form .step-form-header__title,
  .step--learning_essentials .step-form .step-form-header__title,
  .step--getting_started .step-form .step-form-header__title,
  .step--choosing_articles .step-form .step-form-header__title,
  .step--research_planning .step-form .step-form-header__title,
  .step--drafts_mainspace .step-form .step-form-header__title,
  .step--peer_feedback .step-form .step-form-header__title,
  .step--supplementary_assignments .step-form .step-form-header__title,
  .step--dyk .step-form .step-form-header__title,
  .step--ga .step-form .step-form-header__title,
  .step--overview .step-form .step-form-header__title {
    margin-top: 30px;
  }
}
.step--grading .step-form .step-form-content,
.step--assignment_selection .step-form .step-form-content,
.step--learning_essentials .step-form .step-form-content,
.step--getting_started .step-form .step-form-content,
.step--choosing_articles .step-form .step-form-content,
.step--research_planning .step-form .step-form-content,
.step--drafts_mainspace .step-form .step-form-content,
.step--peer_feedback .step-form .step-form-content,
.step--supplementary_assignments .step-form .step-form-content,
.step--dyk .step-form .step-form-content,
.step--ga .step-form .step-form-content,
.step--overview .step-form .step-form-content {
  position: relative;
  left: auto;
  top: auto;
  margin-top: 30px;
}
@media screen and (max-height: 880px) {
  .step--grading .step-form .step-form-content,
  .step--assignment_selection .step-form .step-form-content,
  .step--learning_essentials .step-form .step-form-content,
  .step--getting_started .step-form .step-form-content,
  .step--choosing_articles .step-form .step-form-content,
  .step--research_planning .step-form .step-form-content,
  .step--drafts_mainspace .step-form .step-form-content,
  .step--peer_feedback .step-form .step-form-content,
  .step--supplementary_assignments .step-form .step-form-content,
  .step--dyk .step-form .step-form-content,
  .step--ga .step-form .step-form-content,
  .step--overview .step-form .step-form-content {
    margin-top: 15px;
  }
}
.step--grading .step-form .step-form-content__title,
.step--assignment_selection .step-form .step-form-content__title,
.step--learning_essentials .step-form .step-form-content__title,
.step--getting_started .step-form .step-form-content__title,
.step--choosing_articles .step-form .step-form-content__title,
.step--research_planning .step-form .step-form-content__title,
.step--drafts_mainspace .step-form .step-form-content__title,
.step--peer_feedback .step-form .step-form-content__title,
.step--supplementary_assignments .step-form .step-form-content__title,
.step--dyk .step-form .step-form-content__title,
.step--ga .step-form .step-form-content__title,
.step--overview .step-form .step-form-content__title {
  display: inline-block;
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  bottom: 100%;
  margin: 0 auto;
  margin-bottom: 15px;
}
@media screen and (max-height: 880px) {
  .step--grading .step-form .step-form-content__title,
  .step--assignment_selection .step-form .step-form-content__title,
  .step--learning_essentials .step-form .step-form-content__title,
  .step--getting_started .step-form .step-form-content__title,
  .step--choosing_articles .step-form .step-form-content__title,
  .step--research_planning .step-form .step-form-content__title,
  .step--drafts_mainspace .step-form .step-form-content__title,
  .step--peer_feedback .step-form .step-form-content__title,
  .step--supplementary_assignments .step-form .step-form-content__title,
  .step--dyk .step-form .step-form-content__title,
  .step--ga .step-form .step-form-content__title,
  .step--overview .step-form .step-form-content__title {
    margin-top: 10px;
  }
}
.step--grading .step-info .step-info-inner,
.step--assignment_selection .step-info .step-info-inner,
.step--learning_essentials .step-info .step-info-inner,
.step--getting_started .step-info .step-info-inner,
.step--choosing_articles .step-info .step-info-inner,
.step--research_planning .step-info .step-info-inner,
.step--drafts_mainspace .step-info .step-info-inner,
.step--peer_feedback .step-info .step-info-inner,
.step--supplementary_assignments .step-info .step-info-inner,
.step--dyk .step-info .step-info-inner,
.step--ga .step-info .step-info-inner,
.step--overview .step-info .step-info-inner {
  margin-top: 0;
}
.step--grading .step-info .step-info-inner .step-info-wrapper,
.step--assignment_selection .step-info .step-info-inner .step-info-wrapper,
.step--learning_essentials .step-info .step-info-inner .step-info-wrapper,
.step--getting_started .step-info .step-info-inner .step-info-wrapper,
.step--choosing_articles .step-info .step-info-inner .step-info-wrapper,
.step--research_planning .step-info .step-info-inner .step-info-wrapper,
.step--drafts_mainspace .step-info .step-info-inner .step-info-wrapper,
.step--peer_feedback .step-info .step-info-inner .step-info-wrapper,
.step--supplementary_assignments .step-info .step-info-inner .step-info-wrapper,
.step--dyk .step-info .step-info-inner .step-info-wrapper,
.step--ga .step-info .step-info-inner .step-info-wrapper,
.step--overview .step-info .step-info-inner .step-info-wrapper {
  position: relative;
}
.step--grading .step-info .step-info-inner .step-info-wrapper .step-info__intro,
.step--assignment_selection .step-info .step-info-inner .step-info-wrapper .step-info__intro,
.step--learning_essentials .step-info .step-info-inner .step-info-wrapper .step-info__intro,
.step--getting_started .step-info .step-info-inner .step-info-wrapper .step-info__intro,
.step--choosing_articles .step-info .step-info-inner .step-info-wrapper .step-info__intro,
.step--research_planning .step-info .step-info-inner .step-info-wrapper .step-info__intro,
.step--drafts_mainspace .step-info .step-info-inner .step-info-wrapper .step-info__intro,
.step--peer_feedback .step-info .step-info-inner .step-info-wrapper .step-info__intro,
.step--supplementary_assignments .step-info .step-info-inner .step-info-wrapper .step-info__intro,
.step--dyk .step-info .step-info-inner .step-info-wrapper .step-info__intro,
.step--ga .step-info .step-info-inner .step-info-wrapper .step-info__intro,
.step--overview .step-info .step-info-inner .step-info-wrapper .step-info__intro {
  display: inline-block;
  margin-top: 10px;
}
.step--grading .step-info .step-info-inner .step-info-wrapper .step-info__title,
.step--assignment_selection .step-info .step-info-inner .step-info-wrapper .step-info__title,
.step--learning_essentials .step-info .step-info-inner .step-info-wrapper .step-info__title,
.step--getting_started .step-info .step-info-inner .step-info-wrapper .step-info__title,
.step--choosing_articles .step-info .step-info-inner .step-info-wrapper .step-info__title,
.step--research_planning .step-info .step-info-inner .step-info-wrapper .step-info__title,
.step--drafts_mainspace .step-info .step-info-inner .step-info-wrapper .step-info__title,
.step--peer_feedback .step-info .step-info-inner .step-info-wrapper .step-info__title,
.step--supplementary_assignments .step-info .step-info-inner .step-info-wrapper .step-info__title,
.step--dyk .step-info .step-info-inner .step-info-wrapper .step-info__title,
.step--ga .step-info .step-info-inner .step-info-wrapper .step-info__title,
.step--overview .step-info .step-info-inner .step-info-wrapper .step-info__title {
  display: inline-block;
  width: 100%;
  height: auto;
  position: relative;
  left: 0;
  margin-bottom: 5px;
}
.step--grading .step-info .step-info-inner .step-info-wrapper .step-info__title + .step-info-section,
.step--assignment_selection .step-info .step-info-inner .step-info-wrapper .step-info__title + .step-info-section,
.step--learning_essentials .step-info .step-info-inner .step-info-wrapper .step-info__title + .step-info-section,
.step--getting_started .step-info .step-info-inner .step-info-wrapper .step-info__title + .step-info-section,
.step--choosing_articles .step-info .step-info-inner .step-info-wrapper .step-info__title + .step-info-section,
.step--research_planning .step-info .step-info-inner .step-info-wrapper .step-info__title + .step-info-section,
.step--drafts_mainspace .step-info .step-info-inner .step-info-wrapper .step-info__title + .step-info-section,
.step--peer_feedback .step-info .step-info-inner .step-info-wrapper .step-info__title + .step-info-section,
.step--supplementary_assignments .step-info .step-info-inner .step-info-wrapper .step-info__title + .step-info-section,
.step--dyk .step-info .step-info-inner .step-info-wrapper .step-info__title + .step-info-section,
.step--ga .step-info .step-info-inner .step-info-wrapper .step-info__title + .step-info-section,
.step--overview .step-info .step-info-inner .step-info-wrapper .step-info__title + .step-info-section {
  margin-top: 10px;
}
.step--grading .step-form .step-form-header {
  display: block;
  height: 150px;
  padding: 0 80px 0 40px;
  margin-bottom: 0;
}
@media screen and (max-height: 880px) {
  .step--grading .step-form .step-form-header {
    height: 80px;
  }
}
.step--grading .step-form .step-form-header__title {
  display: inline-block;
  vertical-align: baseline;
  margin-top: 50px;
}
@media screen and (max-height: 880px) {
  .step--grading .step-form .step-form-header__title {
    margin-top: 10px;
    font-size: 32px;
  }
}
.step--grading .step-form .step-form-content {
  margin-top: 30px;
}
.step--grading .step-info {
  padding-top: 150px;
}
@media screen and (max-height: 880px) {
  .step--grading .step-info {
    padding-top: 80px;
  }
}
.step--overview .step-form .step-form-header {
  margin-top: 0;
}
.step--overview .step-form .step-form-content {
  margin-top: 0;
}
.step-form-layout {
  position: relative;
  width: 430px;
  height: 100%;
}
.step-form-layout__inner {
  position: relative;
  width: 400px;
  height: 100%;
  background: #858daa;
  overflow: visible;
}
@media screen and (max-height: 780px) {
  .step-form-layout__inner {
    padding-bottom: 90px;
    overflow-y: scroll;
    overflow-x: visible !important;
  }
}
.step-form {
  width: 430px;
  background: transparent;
}
