/* /////////////////////////////////////////////////////

CenturyLink Cloud Styles
Author: matt@wintr.us

///////////////////////////////////////////////////// */
/* Variables
--------------------------------------------- */
/* Imports
--------------------------------------------- */
.no-mobile {
  display: none;
  display: block;
}
.mobile-only {
  display: block;
  display: none;
}
body {
  background: transparent;
}
.step-actions {
  margin-top: 35px;
}
