<div class="step-info-tip" data-item-index="{{id}}">
  <a class="step-info-tip__close">Close Info</a>
    <div class="step-info-tip__inner">

      {{#if title}}
      <h2 class="font-blue--dark">{{{title}}}</h2>
      {{/if}}

      {{#if content}}
      <p>{{{content}}}</p>
      {{/if}}
      
  </div>
</div>