<div class="custom-input-grading">

  <div class="custom-input-grading-summary">

    <div class="custom-input-grading__total">

      <h3>Total</h3>

    </div>

    <div class="custom-input-grading__percent {{#if isOverLimit}} over-limit {{/if}}">

      <h3>{{totalGrade}}%</h3>

    </div>

  </div>
  
  <div class="custom-input-grading-selection">

    <h5 class="custom-input-grading-selection__title">Grading based on:</h5>

    <div class="custom-input-grading-selection-form">

      <div class="custom-input-wrapper">

        {{#each options}}
          <div class="custom-input custom-input--radio custom-input--radio-group {{#if selected}} checked {{/if}}">

            <a class="radio-button" href="#"></a>

            <label for="percent"><span>{{label}}</span></label>

            <input name="grading-selection" id="{{value}}" value="{{value}}" type="radio" {{#if selected}} checked {{/if}} />

          </div>
        {{/each}}



      </div>

    </div>

  </div>

</div>