
<div class="custom-input-wrapper has-content edit">
  <div class="custom-input custom-input--edit custom-input-accordian">
    <a class="edit-button" href="#" data-step-id="{{stepId}}">[edit]</a>
    <div class="custom-input--edit__inner custom-input-accordian__header">
      <label>{{label}}</label>
      
    </div>
    <div class="custom-input--edit__content custom-input-accordian__content">
      <ul>
        {{#each assignments}}
        <li>{{this}}</li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>