<div class="custom-input-grading">

  <div class="custom-input-grading-summary">

    <div class="custom-input-grading__total">Total</div>

    <div class="custom-input-grading__percent">100%</div>

  </div>
  
  <div class="custom-input-grading-selection">
    <h3>Grading based on:</h3>
    <div class="custom-input-grading-selection-form">
      <div class="custom-input-wrapper">
        <div class="custom-input custom-input--radio custom-input--radio-group">
          <a class="radio-button" href="#"></a>
          <label for="percent">Percentage</label>
          <input name="grading-selection" id="percent" value="percent" type="radio" />
        </div>
        <div class="custom-input custom-input--radio custom-input--radio-group">
          <a class="radio-button" href="#"></a>
          <label for="points">Points</label>
          <input name="grading-selection" id="points" value="points" type="radio" />
        </div>
      </div>
    </div>
  </div>



</div>