<!--
  Author: kevin@wintr.us
  Date: 10/02/2014

  Description: Markup for Start/End Date Input Module
-->


<div class="custom-input-dates">
  <div class="custom-input-dates__label">{{title}}</div>
  <div class="custom-input-dates__inner from">

    <div class="custom-select custom-select--year">
      <div class="custom-select-label">Year</div>
      <select class="year" id="yearStart" name="yearStart" data-date-id="wizard_start_date" data-date-type="year">
        <option value=""></option>
        <option value="2014">2014</option>
        <option value="2015">2015</option>
        <option value="2016">2016</option>
        <option value="2017">2017</option>
        <option value="2018">2018</option>
        <option value="2019">2019</option>
        <option value="2020">2020</option>
        <option value="2021">2021</option>
        <option value="2022">2022</option>
        <option value="2023">2023</option>
        <option value="2024">2024</option>
        <option value="2025">2025</option>
        <option value="2026">2026</option>
      </select>
    </div>

    <div class="custom-select custom-select--month">
      <div class="custom-select-label">Month</div>
      <select class="month" id="monthStart" name="monthStart" data-date-id="wizard_start_date" data-date-type="month">
        <option value=""></option>
        <option value="01">1</option>
        <option value="02">2</option>
        <option value="03">3</option>
        <option value="04">4</option>
        <option value="05">5</option>
        <option value="06">6</option>
        <option value="07">7</option>
        <option value="08">8</option>
        <option value="09">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
      </select>
    </div>

    <div class="custom-select custom-select--day">
      <div class="custom-select-label">Day</div>
      <select class="day" id="dayStart" name="dayStart" data-date-id="wizard_start_date" data-date-type="day">
        <option value=""></option>
        <option value="01">1</option>
        <option value="02">2</option>
        <option value="03">3</option>
        <option value="04">4</option>
        <option value="05">5</option>
        <option value="06">6</option>
        <option value="07">7</option>
        <option value="08">8</option>
        <option value="09">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="16">16</option>
        <option value="17">17</option>
        <option value="18">18</option>
        <option value="19">19</option>
        <option value="20">20</option>
        <option value="21">21</option>
        <option value="22">22</option>
        <option value="23">23</option>
        <option value="24">24</option>
        <option value="25">25</option>
        <option value="26">26</option>
        <option value="27">27</option>
        <option value="28">28</option>
        <option value="29">29</option>
        <option value="30">30</option>
        <option value="31">31</option>
      </select>
    </div>

    

  </div>
  <span class="dates-to">
    to
  </span>
  <div class="custom-input-dates__inner to">

    <div class="custom-select custom-select--year">
      <div class="custom-select-label">Year</div>
      <select class="year" id="yearEnd" name="yearEnd" data-date-id="wizard_end_date" data-date-type="year">
        <option value=""></option>
        <option value="2014">2014</option>
        <option value="2015">2015</option>
        <option value="2016">2016</option>
        <option value="2017">2017</option>
        <option value="2018">2018</option>
        <option value="2019">2019</option>
        <option value="2020">2020</option>
        <option value="2021">2021</option>
        <option value="2022">2022</option>
        <option value="2023">2023</option>
        <option value="2024">2024</option>
        <option value="2025">2025</option>
        <option value="2026">2026</option>
      </select>
    </div>
    
    <div class="custom-select custom-select--month">
      <div class="custom-select-label">Month</div>
      <select class="month" id="monthEnd" name="monthEnd" data-date-id="wizard_end_date" data-date-type="month">
        <option value=""></option>
        <option value="01">1</option>
        <option value="02">2</option>
        <option value="03">3</option>
        <option value="04">4</option>
        <option value="05">5</option>
        <option value="06">6</option>
        <option value="07">7</option>
        <option value="08">8</option>
        <option value="09">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
      </select>
    </div>

    <div class="custom-select custom-select--day">
      <div class="custom-select-label">Day</div>
      <select class="day" id="dayEnd" name="dayEnd" data-date-id="wizard_end_date" data-date-type="day">
        <option value=""></option>
        <option value="01">1</option>
        <option value="02">2</option>
        <option value="03">3</option>
        <option value="04">4</option>
        <option value="05">5</option>
        <option value="06">6</option>
        <option value="07">7</option>
        <option value="08">8</option>
        <option value="09">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="16">16</option>
        <option value="17">17</option>
        <option value="18">18</option>
        <option value="19">19</option>
        <option value="20">20</option>
        <option value="21">21</option>
        <option value="22">22</option>
        <option value="23">23</option>
        <option value="24">24</option>
        <option value="25">25</option>
        <option value="26">26</option>
        <option value="27">27</option>
        <option value="28">28</option>
        <option value="29">29</option>
        <option value="30">30</option>
        <option value="31">31</option>
      </select>
    </div>

    

  </div>

</div>