body.output
  
  .form-container, .output-container, .preview-container
    display block
    width 100%
    max-width 1100px
    margin 50px auto
    text-align left
    
  
  .output-container
    text-align left
    
  .preview-container
    max-width 1100px
    text-align left
    
  span.date
    display none;
    &:before
      content: ' | week of '