
  
.form-container
  display block
  width 100%
  max-width 1100px
  margin 5px 0
  text-align left
  

.output-container
  text-align left
  
  
span.date
  display none;
  font-size 0.8em;
  &:before
    content: ' | week of '