<div class="input-info step-info-tip" data-item-index="{{id}}">
<div class="step-info-tip__inner">
  <div class="input-info-block ">
    <div class="input-info-block__title">
      <h2 class="font-blue--dark">Assignment description</h2>
    </div>
    <div class="input-info-block__text">
      <p>
        Working individually or in small teams with your guidance, students choose course-related topics that are not covered well on Wikipedia. After assessing Wikipedia's current coverage, the students research their topics to find high-quality secondary sources, then propose an outline for how the topic ought to be covered. 
      </p>
      <p>
        Working individually or in small teams with your guidance, students choose course-related topics that are not covered well on Wikipedia. After assessing Wikipedia's current coverage, the students research their topics to find high-quality secondary sources, then propose an outline for how the topic ought to be covered. 
      </p>
    </div>
    
  </div>
  <div class="input-info-block">
    <div class="input-info-block--two-columns">
      <div class="input-info-block__title">
        <h2 class="font-blue--dark">Minimum timeline</h2>
      </div>
      <div class="input-info-block__stat">
        6 weeks
      </div>
    </div>
    <div class="input-info-block--two-columns">
      <div class="input-info-block__title">
        <h2 class="font-blue--dark">Recommended timeline</h2>
      </div>
      <div class="input-info-block__stat">
        12 weeks
      </div>
    </div>
  </div>

  <div class="input-info-block">
    <div class="input-info-block--two-columns">
      <div class="input-info-block__title">
        <h2 class="font-blue--dark">Best for</h2>
      </div>
      <ul>
        <li class="input-info-block__stat">Graduate students</li>
        <li class="input-info-block__stat">Advanced undergraduates</li>
      </ul>
    </div>
    <div class="input-info-block--two-columns">
      <div class="input-info-block__title">
        <h2 class="font-blue--dark">Not appropriate for</h2>
      </div>
      <ul>
        <li class="input-info-block__stat">Intro courses</li>
        <li class="input-info-block__stat">Large Survey courses</li>
      </ul>
    </div>
  </div>
  <div class="input-info-block">
    <div class="input-info-block__title">
      <h2 class="font-blue--dark">Learning Objectives</h2>
    </div>

    <div class="input-info-block--grid">
      <div class="input-info-block__stat">Develop writing skills :</div>
    </div>
    <div class="input-info-block--grid">
      <div class="input-info-block__stat">Increase media and information fluency :</div>
    </div>
    <div class="input-info-block--grid">
      <div class="input-info-block__stat">Improve critical thinking and research skills :</div>
    </div>
    <div class="input-info-block--grid">
      <div class="input-info-block__stat">Foster collaboration :</div>
    </div>
    <div class="input-info-block--grid">
      <div class="input-info-block__stat">Develop technical and communication skills :</div>
    </div>

  </div>
  </div>
</div>