<!--
  Author: 
  Date: 

  Description: Template Description
-->
<div class="content">
  <div class="content-header">
    <h1 class="content-header__title">{{content}}</h1>
  </div>
  <div class="steps">
    
  </div>
  <div class="step-actions">
    <a href="#" class="prev">Prev</a>
    <a href="#" class="next">Next</a>
  </div>
</div>