<!--
  Author: kevin@wintr.us
  Date: 10/02/2014

  Description: Home Page Template
-->
<div class="content">

  <div class="content-header" style="display: none;">
    <h1 class="content-header__title">{{content}}</h1>
  </div>

  <div class="steps"></div>

  <div class="step-nav">
    <a href="#" class="step-nav-prev prev">Step name</a>
    <a href="#" class="step-nav-next next">Step name</a>
  </div>

</div>