 <div class="step-info-tip" data-item-index="{{id}}">
  <a class="step-info-tip__close">Close Info</a>
  <div class="step-info-tip__inner">
  <h2 class="font-blue--dark">{{{title}}}</h2>
  <p>
  {{{content}}}
  </p>
  </div>
</div>