

<h3>{{stepNumber}}. {{{title}}}</h3>
<input type="checkbox" name="done" class="done" data-model="done" {{#if done}} checked {{/if}} />
<label for="done">Done?</label>
<input type="checkbox" name="include" class="done" data-model="include" {{#if include}} checked {{/if}} />
<label for="include">Include?</label>