<!--
  Author: kevin@wintr.us
  Date: 10/02/2014

  Description: Step Navigation 
-->


<!-- STEP NAV DOT INDICATORS -->
<div class="step-nav-indicators hidden">

  {{#each steps}}
  <div href="#" class="dot step-nav-indicators__item {{#if isActive}}active{{/if}} {{#if hasVisited}}visited{{/if}}" data-nav-id="{{id}}" title="{{stepTitle}}" data-step-id="{{stepId}}">*</div>
  {{/each}}

</div><!-- end .step-nav-indicators -->



<!-- STEP NAV BUTTONS -->
<div class="step-nav-buttons">

  <a href="#" class="step-nav__button step-nav--prev prev {{#if prevInactive}}inactive{{/if}}">
    <span style="margin-right:5px;">
      <div class="step-nav-arrow step-nav-arrow--left"></div>
    </span>
    Prev
  </a>

  <a href="#" class="step-nav__button step-nav--next next {{#if nextInactive}}inactive{{/if}}">
    Next
    <span style="margin-left:5px;">
      <div class="step-nav-arrow step-nav-arrow--right"></div>
    </span>
  </a>

</div><!-- end .step-nav-buttons -->
