<div class="step-nav">
<<<<<<< HEAD
  <a href="#" class="step-nav--prev prev">Prev Step</a>
  <a href="#" class="step-nav--next next">Next Step</a>
=======
  <a href="#" class="step-nav-prev prev">Prev Step</a>
  <a href="#" class="step-nav-next next">Next Step</a>
>>>>>>> 417475f9cb3f36451cd127772630c419e0a53deb
</div>