<div class="custom-input custom-input--edit">
  <div class="custom-input--edit__inner">
    <label for="{{data.id}}">{{data.label}}</label>
    <a class="edit-button" href="#">edit</a>
  </div>
  <div class="custom-input--edit__content">
    <!-- content -->
</div>