<div class="custom-input custom-input--checkbox {{#if data.selected}} checked {{/if}}" {{#if data.exclusive}} data-exclusive="true" {{/if}}>
  <label for="{{data.id}}">{{data.label}}</label>
  <input name="{{data.id}}" type="checkbox" id="{{data.id}}" {{#if data.selected}} checked {{/if}}  />
  <a class="check-button" href="#"></a>
</div>