stat-font-size = 16px
stat-line-height = 19px
stat-font-color = rgba(94,94,94,1.0)
title-margin-bottom = 10px
block-margin-bottom = 25px
column-border-width = 2px
column-border-color = rgba(81,85,102,0.1)


.input-info
  position relative
  display block

.input-info-block
  cf()
  width 100%
  position relative
  margin-bottom block-margin-bottom
  
  &__title
    color blue-dark
    position relative
    margin-bottom title-margin-bottom 
  
  &__text
    position relative
  
  &__stat
    font-size stat-font-size
    line-height stat-line-height
    letter-spacing 0.25px
    color stat-font-color
    
  &--two-columns
    col(1/2, cycle: 2, gutter: 3.5)
    border-bottom column-border-width solid column-border-color
    padding-bottom 15px
    margin 0 auto 10px
    
  &--grid
    height 100%
    display block
    border-bottom column-border-width solid column-border-color
    
    .input-info-block__stat
      line-height 30px
      letter-spacing 0.57px

.stars
  position relative
  display inline-block
  vertical-align top
  width 4em
  // background transparent url(/images/star--inactive.svg) repeat-x center left
  // background-size 1.1em auto
  text-indent -9990px
  overflow hidden
  
  &:before
    position absolute
    content ''
    display block
    top 0
    left 0
    width 4em
    height 100%
    line-height 30px
    background transparent url(/images/star--inactive.svg) repeat-x center left
    background-size 1em auto
  
  &:after
    position absolute
    content ''
    display block
    top 0
    left 0
    width 0
    height 100%
    line-height 30px
    background transparent url(/images/star--active.svg) repeat-x center left
    background-size 1em auto

  &--1
    &:before
      width 3em
      left 1em
      
    &:after
      width 1em
      
  &--2
    &:before
      width 2em
      left 2em
      
    &:after
      width 2em
    
  &--3
    &:before
      width 1em
      left 3em
      
    &:after
      width 3em
      
  &--4
    &:before
      width 0
      
    &:after
      width 4em
    
    
      
    

  
