input-font-size = 18px
input-font-size--reduced = 16px

input-height = auto
input-height--reduced = auto

input-font-color = white
input-font-color-inactive = rgba(255,255,255,0.1)

input-padding-left-right = 40px
input-padding-top-bottom = 15px
input-padding-left-right--alt = 70px
input-padding-left-right--alt--reduced = 60px

input-border-color = rgba(78,88,127,0.2)

input-background--active = rgba(105,114,148,1.0)
input-background = #858daa

check-radio-padding = input-padding-top-bottom input-padding-left-right--alt input-padding-top-bottom input-padding-left-right
check-radio-padding--reduced = input-padding-top-bottom input-padding-left-right--alt input-padding-top-bottom input-padding-left-right

text-input-height = 60px
text-input-margin-top-bottom = 10px
text-input-padding-left-right = input-padding-left-right

info-link-height = 60px

accordian-list-margin-top = 10px
accordian-list-font-size = 14px
accordian-list-line-height = 22px


.custom-input 
  &--checkbox
    &.disabled
      color rgba(255,255,255,0.5)

.custom-input--text
  @extend .input-deco
  display block
  position relative
  border-bottom 1px solid blue-border
  width 100%
  height text-input-height
  margin text-input-margin-top-bottom auto
  padding 0
  
  .custom-input--text__inner
    position relative
    width 100%
    height 100%
    padding-left text-input-padding-left-right
    padding-right text-input-padding-left-rightt
    
  
  label
    @extend .form-content
    transition top 0.1s ease-out
    display block
    width 100%
    height 30px
    font-size 16px
    line-height 1.875
    position absolute
    top 28px
    left 0
    padding 0 5px
    
    +below-height(heightBreak)
      font-size 14px
      
  
  input, .input-editable
    @extend .form-content
    position relative
    width 100%
    background transparent
    color body-font-color
    margin-top 30px
    height 30px
    border none
    outline none
    letter-spacing 1px
    line-height 30px  
    padding 0 5px
  

  .custom-input-wrapper.open &
    label
      top 0px
      

      
.custom-input--link
  @extend .custom-input--checkbox
  color white
  position relative
  width 100%
  height auto
  padding 0 input-padding-left-right 0
  font-size 14px
  line-height text-input-padding-left-right
  text-decoration underline
  background-color input-background
  z-index 1
  

.custom-input--percent
  position relative
  display block
  width 100%
  min-height input-height
  color white
  border-bottom 1px solid rgba(78,88,127,0.2)
  font-size 17px
  padding check-radio-padding
  padding-right 100px
  
  // padding-top 10px
  // padding-bottom 10px
  
  
  // +below-height(heightBreak)
  //   padding-top 7px
  //   padding-botom 7px
    

    
  
  .input-container
    @extend .input-deco
    position absolute
    padding 0 5px
    border-bottom 2px solid blue-dark
    width 30px
    height 25px
    top 50%
    right 45px
    margin-top -12px
    display inline-block
    
    +below-height(heightBreak)
      right 45px
      height 20px

    .icon
      display block
      width 17px
      height 25px
      position absolute
      right -21px
      background transparent url(/images/percent.svg) no-repeat center center
      
    
    &:before
      border-left 2px solid blue-border
      border-bottom 2px solid blue-border
      bottom -2px
      left -5px
    
    &:after
      border-right 2px solid blue-border
      border-bottom 2px solid blue-border
      bottom -2px
    
  
  input
    @extend .form-content
    position relative
    background transparent
    color white
    width 25px
    display inline-block
    border none
    outline none
    text-align center
    font-size 16px

    +below-height(heightBreak)
      font-size 14px

  
    
  label
    font-size 14px
    line-height 1.222
    
    +below-height(heightBreak)
      font-size 12px

    

.custom-input-accordian
  position relative
  
  &__header
    position relative
    
    &:before
      position absolute
      content ''
      display none
      width 25px
      height 25px
      left -30px
      top 0
      background transparent url(/images/arrow--accordian--white.png) no-repeat center
      background-size 17px auto
      transform rotate(-180deg)
      transition transform 0.08s ease-out
    
    
  &__content
    transition max-height 0.3s 0.15s ease-out
    max-height 0
    overflow hidden
    margin 0
    padding-bottom 0
    
    
    ul 
      margin-top accordian-list-margin-top
      li 
        font-size accordian-list-font-size
        line-height accordian-list-line-height
        letter-spacing 0.05px
        margin-bottom 0
        
  .custom-input-wrapper.has-content &
    
    .custom-input-accordian__header
      &:before
        display block

    &:hover
      transition max-height 0.3s 0.3s ease-in
      

      .custom-input-accordian__content
        max-height 200px
        

      .custom-input-accordian__header
        &:before
          transform rotate(0deg)




.custom-input--edit
  position relative
  display block
  width 100%
  min-height input-height
  color input-font-color
  border-bottom 1px solid input-border-color
  font-size input-font-size
  // padding input-padding-top-bottom input-padding-left-right
  cursor pointer
  font-size 17px
  padding check-radio-padding
  padding-top 10px
  padding-bottom 10px
  padding-right 100px
    
    +below-height(heightBreak)
      padding-top 7px
      padding-botom 7px
  
  
  +below-height(heightBreak)
    font-size input-font-size--reduced
  
  .edit-button
    transition color 0.15s
    display block
    width 22px
    height 22px
    position absolute
    top 10px
    right 43px
    background transparent
    z-index 100
    font-size 12px
    line-height 22px
    letter-spacing 0.2px


    &:hover
      color blue-dark
    
    
  label
    line-height 22px
    cursor pointer
    font-size 16px
    
    +below-height(heightBreak)
      font-size 14px
    
  
  
  


.custom-input--checkbox
  position relative
  display table
  width 100%
  min-height input-height
  color input-font-color
  border-bottom 1px solid input-border-color
  font-size input-font-size
  padding check-radio-padding
  
  +below-height(heightBreak)
    font-size input-font-size--reduced
    min-height input-height--reduced
    padding check-radio-padding--reduced
  

  label
    display table-cell
    vertical-align middle
    line-height 1.2
    cursor pointer
    
    span 
      display inline-block
      width auto
  
  input
    display none
    cursor pointer
  

  .check-button
    transition 0.10s background-color
    display block
    position absolute
    top 50%
    margin-top -8px
    right padding-left-right
    width 18px
    height 18px
    border 2px solid white
    background-color transparent
    box-sizing border-box
    cursor pointer
    
  .radio-button
    transition 0.10s background-color
    display block
    position absolute
    width 18px
    height 18px
    top 50%
    right input-padding-left-right
    margin-top -8px
    background-color transparent
    box-sizing border-box
    cursor pointer
    border 2px solid white
    border-radius 18px
    
  &.not-editable
    color: rgba(255,255,255,0.6)
    // pointer-events none
    
    .check-button, .radio-button, .edit-button
      opacity 0.6
      pointer default
      

.custom-input--radio
  position relative
  display table
  width 100%
  min-height 65px
  color input-font-color
  font-size input-font-size
  padding check-radio-padding
  line-height 1
  
  .radio-button
    transition 0.10s background-color
    display block
    position absolute
    width 18px
    height 18px
    top 50%
    right input-padding-left-right
    margin-top -8px
    background-color transparent
    box-sizing border-box
    cursor pointer
    border 2px solid white
    border-radius 18px
    
  input
    display none
    cursor pointer
    
  label
    display table-cell
    vertical-align middle
    cursor pointer
    line-height 1.2
    
    
  
  &.custom-input--radio-group
    position relative
    display inline-block
    width 58px
    border none
    padding 0
    text-align center
    
    label
      line-height 65px
      padding-left 5px
    
    .radio-button
      margin-top -10px
      right auto
      left 25px
      
    +below-height(heightBreak)
      height 50px
      line-height 50px
    
    
  



.custom-input-radio-inner__header
  padding 0 input-padding-left-right
  
.custom-input-radio-inner
  
  .custom-input--radio
    border-bottom 1px solid input-border-color
    
    &:last-child
      border-bottom 1px solid input-border-color
      


  &--group
    height auto
    text-align center
    padding 0 input-padding-left-right
    white-space nowrap
    border-top none
    
    .custom-input--radio
      border none
      
      &:last-child
        border none
  
  
.custom-input-wrapper
  position relative
  width auto
  height auto

  &.link 
    &:before
      display none !important

  
  &.checked 
    .custom-input--checkbox
      .check-button
        background-color white
    
  
  .custom-input--radio.checked
    .radio-button
      background-color white

  .custom-input--checkbox.checked
    .check-button
      background-color white
      
  .custom-input--radiobox.checked
    .radio-button
      background-color white
      


      


  &.has-info
    position relative
    cursor pointer
    z-index 1
    
    .custom-input
      position relative
    
      .info-icon
        transition right 0.13s ease-out
        content ''
        display block
        width 16px
        height 16px
        position absolute
        top 50%
        right 12px
        margin-top -7px
        background transparent url(/images/info-icon--white.png) no-repeat 
        background-size 100% auto
        background-position 100% auto
        z-index 5
    
    
    *
      cursor pointer
      
    &.not-editable
      cursor default
      
      *
        cursor default
    
    .custom-input--checkbox
      transition all 0.13s ease-out
      z-index 10
      background blue
      
    .info-arrow
      transition all 0.13s ease-out
      position absolute
      top 0
      right 0
      display block
      width 25px
      height 100%
      background transparent url('/images/tooltip-arrow--right.svg') no-repeat 
      background-size auto 100%
      z-index 1
      background-position -1px 50%
      
      
      
    &.selected
      overflow-x visible


      .custom-input
        background input-background--active
        border-color rgba(78,88,127,0)
        
       .info-icon
          right 3px
        
        
      .info-arrow
        right -25px
        background-position -1px 50%
      

.custom-input-dates
  position relative
  width 100%
  height 45px
  margin 80px auto 40px
  
  .step--last &
    
    display none !important
  
  
  
  &__label
    @extend .form-content
    transition top 0.1s ease-out
    position absolute
    display block
    width 100%
    height 30px
    font-size 16px
    line-height 30px
    position absolute
    top -40px
    left 0
    padding 0 5px
    color blue-dark
    
    +below-height(heightBreak)
      font-size 14px
      line-height 1.875
    
  
  
  &__inner
    display inline-block
    width auto
    height 45px
    
    &.from 
      float left
      text-align left
    &.to 
      float right
      text-align right
      

  .step--last &
    margin: 50px 0 40px
    max-width 480px
    
  
  span.dates-to
    font-size 18px
    display inline-block
    vertical-align bottom
    position absolute
    width 35px
    height 100%
    line-height 45px
    position absolute
    top 0
    left 50%
    margin-left -15px
    text-align center
    
    
    
  .custom-select
    @extend .input-deco
    display inline-block
    position relative
    width: 52px
    height: 40px
    background: transparent url(/images/arrow--dropdown.svg) no-repeat right 
    border-bottom 1px solid blue-dark
    margin 0 5px
    
    .custom-select-label
      transition top 0.1s ease-out
      display block
      width 100%
      height auto
      position absolute
      top 18px
      left 0
      text-align left
      font-family 'Droid', serif
      font-size 15px
      color blue-dark
      letter-spacing 0.3px
  

    &.open
      .custom-select-label
        top -10px
    
    
    
    select 
      position relative
      background transparent
      width 52px
      font-size 16px
      line-height 40px
      border 0
      border-radius 0
      height 40px
      -webkit-appearance none
      -moz-appearance window
      appearance none
      outline none
      color blue-dark
      text-align center
      cursor pointer
      text-align left
      z-index 100
      text-indent 0
      font-weight bolder
      
    &--day, &--month
      padding-left 3px

    &--year
      width 72px
      
      select
        width 72px
        padding-left 6px
        
      select::-ms-expand
        display none !important
        
textarea
  border-color #C9C9C9


.custom-input--radiobox
  @extend .custom-input--checkbox
  











