.custom-input-grading
  
  .custom-input-grading-summary
    cf()
    padding 10px 40px 20px
    
    +below-height(heightBreak)
      padding 6px 40px 10px
  
  &__total, &__percent
    col(1/2, cycle: 2, gutter: 0)
  
    +below-height(heightBreak)
    
      h3
        font-size 32px
    
    +below-height(heightBreakSmall)
      
      h3
        font-size 26px
    
  &__percent
    text-align right
    
    h3 
      display inline block
      width auto
      
    &.over-limit
      color red
      
  .custom-input-grading-selection
    
    display none // temporary until points are implemented

    position relative
    padding 0 45px
    
    +below-height(heightBreak)
      padding 0 40px
    
    &__title
      position relative
      top 0
      left 0
      width 100%
      margin-bottom 0
      color blue-dark
      
    .custom-input-wrapper
      cf()
      height auto
      
      .custom-input--radio
        min-height 40px
        height 40px
        

      .custom-input--radio-group
        col(1/2, cycle: 2, gutter: 4.5)
        height 40px
        
        label
          line-height 40px
          padding-left 25px
          
        .radio-button
          left 0
          

          