.output-container, .preview-container
  display block
  width 100%
  max-width 1100px
  margin 10px auto 50px
  text-align left
  

.output-container
  text-align left
  
  .step--overview &
    display none
  
.preview-container
  max-width 1100px
  text-align left
  margin-top 10px
  
.form-container
  label
    font-size: 0.9em
    color blue-dark
  
span.date
  display none;
  &:before
    content: ' | week of '


.preview-container
  display none
  max-height 325px
  overflow auto
  padding 15px
  padding-bottom 50px
  background #f5f5f5
  
  .step--intro &
    max-height none
  
  
  h4, h5
    font-size: 1em
    font-weight normal
    display block
    width 100%
    padding-bottom 5px
    margin-bottom 5px
    border-bottom 1px solid #f9f9f9
    
  h5 
    font-size: 0.9em
    border none
    padding-bottom 0 
    margin-bottom 0
    text-decoration underline

  h2, h3
    display inline-block
    font-size: 1.1em
    font-weight bold
    margin 0 0.5em 0.5em 0
  h3
    font-size: 1.0em
    
    &:before
      content: '| '
    
  // .preview-container-weekly-title
  //   display none
      
  // .dates-preview 
  //   margin 0px 0 10px
    
  .dow-date
    display inline-block
    width: auto
    margin 0px 10px 5px
    font-size 0.9em
    font-style italic
    
    &:first-child
      margin-left 0
    
  .preview-container-header
    margin-top 10px
    
  .preview-container-details
    max-height: 0
    height auto
    overflow hidden
    
    &.open
      max-height 50%


.overview-input-container
  position relative
  display inline-block
  width auto
  margin 0 0 15px
  
  label
    display inline-block
    width: 130px
    font-size: 0.8em
    vertical-align bottom
  
  input 
    display inline-block
    margin 0 5px
    width 100px
    background rgba(242,242,242,1)
    
  &--blackout-dates
    display block
    width 100%
    
    input
      width 350px

.overview-select-container
  margin 5px 0 0

.overview-select-input-container
  margin: 5px 0;
  width: 120px;
  display: inline-block;
  white-space: nowrap;

.overview-readout-header
  display none
  margin-top 10px;
  
  .readout 
    font-size:38px;


// .output-container, .preview-container
//   display none !important
  
.output-container
  white-space: pre-wrap

