.output-container, .preview-container
  display block
  width 100%
  max-width 1100px
  margin 25px auto 50px
  text-align left
  

.output-container
  text-align left
  
.preview-container
  max-width 1100px
  text-align left
  
span.date
  display none;
  &:before
    content: ' | week of '


.preview-container
  
  h4, h5
    font-size: 1em
    font-weight bold
    display block
    width 100%
    padding-bottom 10px
    margin-bottom 10px
    border-bottom 1px solid #f5f5f5
    
  h5 
    font-size: 0.9em
    border none
    padding-bottom 0 
    margin-bottom 0
    text-decoration underline

  h2, h3
    display inline-block
    font-size: 1.4em
    font-weight bold
    margin 0 0.5em 0.5em 0
  h3
    font-size: 1.2em
    
    &:before
      content: ' | '
      
  .dates-preview 
    margin 0px 0 10px
    
  .dow-date
    display inline-block
    width: auto
    margin 0px 0 5px
    
.overview-input-container
  position relative
  margin 10px 0
  
  label
    display inline-block
    width: 160px
  
  input 
    display inline-block
    margin 0 15px
    width 125px

.overview-select-container
  margin 30px 0

.overview-select-input-container
  margin 5px 0

.overview-readout-header
  margin-top 25px;
  
  .readout 
    font-size:38px;
  


        

