.button
  transition background-color 0.13s, text-decoration 0.13s, color 0.13s
  position relative
  display inline-block
  background blue-dark
  width 100%
  height 50px
  line-height 50px
  color white
  font-family body-font
  border-radius 3px
  
  &#publish
    display block
    width 100%
    
    &.processing
      text-indent -9999px
      background blue-dark url(/images/loader.gif) no-repeat center center
      background-size 30px auto
  
  &#beginButton
    max-width 290px
    
  &:hover, &:active
    background-color rgba(94,107,154,1.0)
    text-decoration none //underline
  
  &.inactive
    background-color rgba(99,108,142,1.0)
    color rgba(166,171,191,1.0)
    pointer-events none
    