
.custom-input 
  &--checkbox
    &.disabled
      color rgba(255,255,255,0.5)

.custom-input--text
  @extend .input-deco
  display block
  position relative
  border-bottom 1px solid blue-border
  width 100%
  height 60px
  margin 10px auto
  padding 0
  
  .custom-input--text__inner
    position relative
    width 100%
    height 100%
    padding-left 45px
    padding-right 45px
    
  
  label
    @extend .form-content
    transition top 0.1s ease-out
    display block
    width 100%
    height 30px
    font-size 16px
    line-height 30px
    position absolute
    top 28px
    left 0
    padding 0 5px
  
  input, .input-editable
    @extend .form-content
    position relative
    width 100%
    background transparent
    color body-font-color
    margin-top 30px
    height 30px
    border none
    outline none
    letter-spacing 1px
    line-height 30px  
    padding 0 5px
  
  
  
  .custom-input-wrapper.open &
    label
      top 0px
      
.custom-input--link
  color white
  position relative
  width 100%
  height 60px
  padding 30px 45px 0
  font-size 14px
  text-decoration underline
    



ci-font-size = 18px
ci-checkbox-height = 65px
ci-line-height = 21px //ci-checkbox-height
ci-checkbox-border-color = rgba(78,88,127,0.2)
ci-checkbox-background-active = rgba(105,114,148,1.0)
ci-font-color-active = white
ci-font-color-inactive = rgba(255,255,255,0.1)
ci-padding = 20px 70px 20px 45px


.custom-input--percent
  position relative
  display block
  width 100%
  min-height ci-checkbox-height
  color ci-font-color-active
  border-bottom 1px solid ci-checkbox-border-color
  font-size ci-font-size
  padding ci-padding
  
  
  &:before
    content ''
    display block
    width 22px
    height 22px
    position absolute
    top 20px
    right 43px
    background transparent url(/images/percent.svg) no-repeat center center
    
  
  .input-container
    @extend .input-deco
    padding 0 5px
    border-bottom 2px solid blue-dark
    width 35px
    float right
    display inline-block
    
    &:before
      border-left 2px solid blue-border
      border-bottom 2px solid blue-border
      bottom -2px
      left -5px
    
    &:after
      border-right 2px solid blue-border
      border-bottom 2px solid blue-border
      bottom -2px
    
  
  input
    @extend .form-content
    position relative
    background transparent
    color white
    width 26px
    display inline-block
    border none
    outline none
    text-align center

  
    
  label
    line-height 22px

.custom-input--edit
  position relative
  display block
  width 100%
  min-height ci-checkbox-height
  color ci-font-color-active
  border-bottom 1px solid ci-checkbox-border-color
  font-size ci-font-size
  padding ci-padding
  
  .edit-button
    position relative
    display block
    width 22px
    height 22px
    position absolute
    top 20px
    right 43px
    background transparent
    
    font-size 12px
    line-height 22px
    letter-spacing 0.2px
    
    &:before
      content: '['
    &:after
      content: ']'
    
    
  label
    line-height 22px

  

.custom-input--checkbox
  position relative
  display table
  width 100%
  min-height ci-checkbox-height
  color ci-font-color-active
  border-bottom 1px solid ci-checkbox-border-color
  font-size ci-font-size
  padding ci-padding


  label
    display table-cell
    vertical-align middle
    line-height 1.2
    
    span 
      display inline-block
      width auto
  
  input
    display none
    cursor pointer
  

  .check-button
    transition 0.10s background-color
    display block
    position absolute
    top 50%
    margin-top -8px
    right 45px
    width 18px
    height 18px
    border 2px solid white
    background-color transparent
    box-sizing border-box
    cursor pointer
    
  .radio-button
    transition 0.10s background-color
    display block
    position absolute
    width 18px
    height 18px
    top 50%
    right 45px
    margin-top -8px
    background-color transparent
    box-sizing border-box
    cursor pointer
    border 2px solid white
    border-radius 18px
    
  &.not-editable
    color: rgba(255,255,255,0.6)
    // pointer-events none
    
    .check-button, .radio-button, .edit-button
      opacity 0.6
      pointer none
      

.custom-input--radio
  position relative
  display table
  width 100%
  min-height 65px
  color ci-font-color-active
  font-size ci-font-size
  padding ci-padding
  line-height 1
  
  .radio-button
    transition 0.10s background-color
    display block
    position absolute
    width 18px
    height 18px
    top 50%
    right 45px
    margin-top -8px
    background-color transparent
    box-sizing border-box
    cursor pointer
    border 2px solid white
    border-radius 18px
    
  input
    display none
    cursor pointer
    
  label
    display table-cell
    vertical-align middle
    cursor pointer
    line-height 1.2
    
  
  &.custom-input--radio-group
    position relative
    display inline-block
    width 62px
    border none
    padding 0
    text-align center
    
    label
      line-height 65px
    
    .radio-button
      margin-top -8px
      right auto
      left 25px
    
    
  



.custom-input-radio-inner__header
  padding 0 45px
  
.custom-input-radio-inner
  
  .custom-input--radio
    border-bottom 1px solid ci-checkbox-border-color
    
    &:last-child
      border-bottom 1px solid ci-checkbox-border-color
      


  &--group
    height auto
    text-align center
    padding 0 45px
    white-space nowrap
    border-top none
    
    .custom-input--radio
      border none
      
      &:last-child
        border none
  
  
.custom-input-wrapper
  position relative
  width auto
  height auto

  &.link 
    &:before
      display none !important

  
  &.checked 
    .custom-input--checkbox
      .check-button
        background-color white
    
  
  .custom-input--radio.checked
    .radio-button
      background-color white

  .custom-input--checkbox.checked
    .check-button
      background-color white
      
  .custom-input--radiobox.checked
    .radio-button
      background-color white
      


      


  &.has-info
    cursor pointer
    
    *
      cursor pointer
      
    &:before
      content ''
      position absolute
      top 0
      left 100%
      display block
      width 25px
      height 100%
      background transparent url('/images/tooltip-arrow--right.svg') no-repeat center left
      background-size auto 100%
      z-index 10
      background-position-x -25px
      
    &.selected
      overflow-x visible


      .custom-input--checkbox
        background ci-checkbox-background-active
        border-color rgba(78,88,127,0)
        
      &:before
        background-position-x -1px
      

.custom-input-dates
  position relative
  width 100%
  height 45px
  margin 60px auto
  
  &__label
    @extend .form-content
    transition top 0.1s ease-out
    position absolute
    display block
    width 100%
    height 30px
    font-size 16px
    line-height 30px
    position absolute
    top -40px
    left 0
    padding 0 5px
    color blue-dark
    
  
  
  &__inner
    display inline-block
    width auto
    height 45px
    
    &.from 
      float left
      text-align left
    &.to 
      float right
      text-align right
    
  
  span.dates-to
    font-size 18px
    display inline-block
    vertical-align bottom
    position absolute
    width 35px
    height 100%
    line-height 45px
    position absolute
    top 0
    left 50%
    margin-left -15px
    text-align center
    
    
    
  .custom-select
    @extend .input-deco
    display inline-block
    position relative
    width: 52px
    height: 40px
    background: transparent url(/images/arrow--dropdown.svg) no-repeat right 
    border-bottom 1px solid blue-dark
    margin 0 5px
    
    .custom-select-label
      transition top 0.1s ease-out
      display block
      width 100%
      height auto
      position absolute
      top 15px
      left 0
      text-align left
      font-family 'Droid', serif
      font-size 15px
      color blue-dark
      letter-spacing 0.3px
  

    &.open
      .custom-select-label
        top -10px
    
    
    
    select 
      position relative
      background transparent
      width 52px
      font-size 16px
      line-height 40px
      border 0
      border-radius 0
      height 40px
      -webkit-appearance none
      appearance none
      outline none
      color blue-dark
      text-align center
      cursor pointer
      text-align left
      z-index 100
      text-indent 0
      font-weight bolder
      

    &--year
      width 72px
      
      select
        width 72px
        padding-left 6px
        




textarea
  border-color #C9C9C9






.custom-input--radiobox
  @extend .custom-input--checkbox









