/* /////////////////////////////////////////////////////

STEP MODULE

///////////////////////////////////////////////////// */

/* Steps Module
--------------------------------------------- */
.steps 
  width 100%

/* Step Module
--------------------------------------------- */


.step
  cf()


.step-form
  position absolute
  width 545px
  height 100%
  top 0
  left 0
  padding 80px 50px 80px 125px
  background blue
  color white
  z-index 2

  &__title
    margin-bottom 30px
    
  &-inner
    position relative

.step-info
  position absolute
  width 100%
  min-width 600px
  max-width 700px
  height 100%
  top 0
  right 0
  padding 170px 100px 80px 80px
  color black
  background white
  z-index 1
  
  p 
    margin 25px auto
  

  .main-logo
    position absolute
    display inline-block
    top 90px
    right 110px
    z-index 5
    
  .step-info-inner
    margin-top 30px

    
    
    

    
    
    
    