/* /////////////////////////////////////////////////////

STEP MODULE

///////////////////////////////////////////////////// */

/* Steps Module
--------------------------------------------- */
.steps 
  width 100%
  height 100%

/* Step Module
--------------------------------------------- */


.step
  cf()
  width 100%
  height 100%


//STEP FORM SECTION

.step-form
  position fixed
  width 400px
  height 100%
  top 0
  left 0
  padding 0
  background blue
  color white
  z-index 2
  user-select: none;
  
  
  .step-form-header
    display table
    top 0 
    left 0
    width 100%
    height 170px
    padding 0 80px 0 padding-left-right
    margin-bottom 35px


    &__title
      display table-cell
      vertical-align bottom
      margin-top 80px
      
  
  .step-form-content
    position absolute
    top 200px
    left 0
    width 100%

    &__title
      font-family body-font
      font-size 18px
      line-height 21px
      min-height 21px
      color blue-dark
      letter-spacing 1.29px
      margin 0 auto 10px
      padding 0 padding-left-right

    


.step-form-inner
  position relative
  border-top 1px solid rgba(78,88,127,0.2)
  


//STEP INFO SECTION

.step-info
  position relative
  width auto
  max-width 1200px
  min-width 1000px
  padding 200px 40px 40px 440px
  color body-font-color
  background white
  z-index 1
  user-select: none;
  
  .step--last &
    padding 150px 40px 40px 440px
  
  p 
    margin 25px auto
    &:first-child
      margin-top 0
    &:last-child
      margin-bottom 0


  .main-logo
    position absolute
    display inline-block
    top 90px
    right 40px
    z-index 1000
    

  .step-info-inner
    transition opacity 0.15s 0.25s linear
    margin-top 0
    opacity 1
    
    // body.tip-open &
    //   transition opacity 0.15s linear
    //   opacity 0
    

  

  .step-info-tip
    transition opacity 0.33s 0.123s ease-in //, left 0.66s ease-out
    display block
    position fixed
    width 100%
    height 100%
    top 0
    left 0
    z-index 0
    opacity 0
    max-width 1200px
    min-width 1000px
    pointer-events none
    
    background rgba(255,255,255,1.0) //rgba(245,245,245,1.0)
    
    &__close
      position absolute
      top 200px
      right 20px
      width 18px
      height 18px
      display block
      color transparent
      border none
      z-index 100
      text-indent -9999px
      overflow hidden
      background transparent url(/images/close--tip.svg) no-repeat center center
      cursor pointer

      

    &__inner
      @extend .step-info
      background rgba(255,255,255,1.0)
      height 100%
    

    &.visible
      opacity 1
      z-index 50
      pointer-events all
      

      

      

.step-info-section
  margin 25px auto
  

  .step-info-section__header
    margin 15px auto     
    
  .step-info-section__content
    margin 15px auto
    
    a:not(.button)
      color body-font-color
      text-decoration underline

.step-info-section--accordian
  border-top: 2px solid rgba(81,85,102,0.1);
  border-bottom 2px solid rgba(81,85,102,0.1)
  margin 15px auto  
  
  .step-info-section__header
    position relative
    padding-left 35px
    cursor pointer
    
    
    &:before
      position absolute
      content ''
      display block
      width 25px
      height 100%
      left -2px
      top 0
      background transparent url(/images/arrow--accordian.png) no-repeat center
      background-size 17px auto
      transform rotate(-180deg)
      transition transform 0.08s ease-out
    
  .step-info-section__content
    transition max-height 0.33s 0.12s ease-out, padding-bottom 0.15s 0.10s linear
    max-height 0
    overflow hidden
    padding-left 30px
    margin 0
    padding-bottom 0
      
  &.open
    transition max-height 0.33s 0.12s ease-out, padding-bottom 0.15s linear
    
    .step-info-section__content
      max-height 800px
      padding-bottom 25px
      
    .step-info-section__header
      &:before
        transform rotate(0deg)
          
.step-info-section--accordian + .step-info-section--accordian
  border-top none   
        
    
// INTRO STEP

.step--first
  
  
  .step-form
    position relative
    color body-font-color
    background white
    width 500px
    min-height 1300px
    padding 200px 0 //20px
    margin 0 auto
    background transparent url(/images/wiki-logo.png) no-repeat center 100px
    background-size 60px auto
    
    .step-form-instructions
      p.large
        margin-bottom 15px

    
    &__title
      color rgba(78,88,127,1.0)
      margin-bottom 20px
    
    .step-form-header
      padding 0
      width 100%
      height auto
      
      
    .custom-input--text
      label
        color blue-dark
    
    .step-form-actions
      text-align center
      
    .step-form-inner
      border-top 0
    
    .custom-input--text
      &__inner
        padding-left 0
        padding-right 0
        color rgb(79,79,79)

.step--login
  
  .step-form
    min-height initial
    
  #skipLoginButton
    display inline-block
    margin-top 15px
    
  .step-form-instructions
    margin-bottom 20px
    text-align center
    width 100%

    
    

    
    
    
    