/* /////////////////////////////////////////////////////

Step Navigation Controls

///////////////////////////////////////////////////// */

indicator-height = 35px
indicator-margin = 0 3px
indicator-size = 14px
indicator-active-color = white
indicator-inactive-color = rgba(80,90,128.0.5)



.step-nav
  cf()
  transition height 0.15s ease-in
  position fixed
  bottom 0
  left 0
  width 400px
  height 80px
  z-index 5
  user-select: none;
  background blue
  
  .step-nav-buttons
    
    &--normal
      position relative
      display block 
    
    &--edit
      display none
      
  
  .edit-mode &

    .step-nav-buttons
      
      &--normal
        position relative
        display none 
      
      &--edit
        position relative
        display block
        
  
  
  
  &__button 
    @extend .form-content
    transition all 0.2s
    display inline-block
    width 50%
    height 80px
    text-align center
    color white
    float left
    line-height 80px
    background-size 45px auto
    background-color blue
    border-top 2px solid rgba(78,88,127,0.2)
    
    span.arrow 
      height 25px
    
    .step-nav-arrow 
      display inline-block
      line-height 80px
      width 32px
      height 25px
      
      &--left
        background transparent url(/images/arrow--left.png) no-repeat
        visibility hidden
      
      &--right
        background transparent url(/images/arrow--right.png) no-repeat
        visibility hidden
      
    &.inactive
      cursor default
      //  pointer-events: none
      color rgba(255,255,225,0.25)
    

    &:first-child
      border-right 1px solid rgba(78,88,127,0.2)
      background transparent url(/images/arrow--left.png) no-repeat
      background-position 53px 50%
      
      &.inactive
        background transparent url(/images/arrow--left--inactive.png) no-repeat
        background-position 53px 50%


    &:last-child
      border-left 1px solid rgba(78,88,127,0.2)
      background transparent url(/images/arrow--right.png) no-repeat
      background-position 112px 50%
      
      &.inactive
        background transparent url(/images/arrow--right--inactive.png) no-repeat
        background-position 112px 50%
      

          
    &:hover, &:active
      background-color rgba(80,90,128,1.0)
      
      span.text
        text-decoration none
        
    &.confirm, &.cancel
      background transparent
      
    &.no-arrow
      background none !important

      
    &.exit-edit
      width 100%
      background transparent url(/images/arrow--right.png) no-repeat
      background-position 310px 50%
      
      span.text 
        transition margin-left 0.15s ease-in
        margin-left 0
        position relative
      
      &:hover
        
        span.text
          transition margin-left 0.15s ease-in
          margin-left 0
          
        
    
    
  
    
    //TODO ARROWS

  .step-nav-indicators
    transition opacity 0.12s ease-in, margin-top 1s ease-out
    position absolute
    width 100%
    height indicator-height
    left 0
    top -(indicator-height)
    text-align center
    margin-top 0
    background blue
    
    
    &__item
      position relative
      display inline-block
      margin indicator-margin
      color blue-light
      line-height indicator-height
      width indicator-size
      height indicator-size
      background indicator-inactive-color
      border 2px solid transparent
      border-radius indicator-size
      text-indent -9999px
      pointer-events none
      
      &.visited
        background-color transparent
        border 2px solid white
        cursor pointer
        pointer-events auto
        

        
      &.active, &.visited.active
        background indicator-active-color
        pointer-events auto
        

 

      &.active
        cursor initial
        pointer-events auto
        
 


      &.answered
        background-color transparent
        border 2px solid white
        pointer-events auto
        

 
        

        
      // &:first-child
      //   display none
      //   pointer-events none
  

  &.hidden
    opacity 0
    pointer-events none
    
  &.contracted
    transition height 0.3s
    height 0
    border-top 2px solid rgba(78,88,127,0.0)
    
    .step-nav-buttons
      transition height 0.3s
      overflow hidden
      height 0
  
  
      
      
  
